@keyframes bounce {
    0% {transform: translateY(-300px); opacity: 0;}
    70% {transform: translate4(0);}
    90% {transform: translate4(-5px);}
    100% {transform: translate4(0); opacity: 1;}
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes color {
    0% {background-color: #E4E5E9;}
    100% {background-color: #354895;}
}

@keyframes gradient {
    0% {background: linear-gradient(90deg, #E4E5E9, #FFFFFF);}
    100% {background: linear-gradient(90deg, #354895, #FFFFFF);}
}

