/*..........Calculator.........*/
/*////////////////////////////*/

.calculator {
  // padding-top: 50px;
  // padding-bottom: 50px;

  // color: rgba($black, 0.65);

  // box-shadow: 0px 4px 30px rgba(160, 169, 208, 0.15);

  // box-shadow: 0px 4px 30px rgba(160, 169, 208, 0.15);

  @media(max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
  }

  @media(max-width: 400px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

select {
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 25px;
  border: 1.5px solid #eef2f5;
  outline: 0;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  height: 50px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  // background-image: url('../img/calulator/arrow-down.svg');
  background-position: 93% center;
  background-repeat: no-repeat;
}

option {
  height: 60px;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 25px;
  border: 1.5px solid #eef2f5;
  color: rgba(0, 0, 0, 0.65);
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
}

.form__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__select.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__block h2.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #0a1936;
  font-family: Montserrat Alternates, Arial, sans-serif;
}

.form__select.form button.submit {
  background-color: #354895;
  box-shadow: 0px 4px 8px rgba(160, 169, 208, 0.25);
  border-radius: 10px;
  border: none;
  padding: 20px 0;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: .2s;
}

.form__select.form button:hover {
  background-color: #27356d;
}

.right {
  text-align: right;
}

.form__row {
  margin-bottom: 25px;
  position: relative;
  &.select__package{
    justify-content: space-between;
    align-items: center;
    @media(min-width: 1200px){
      display: flex;
    }
    & i{
      display: none;
      @media(min-width: 1200px) {
        display: inline-block;
        width: 17px;
        height: 19px;
        margin-left: 17px;
        display: inline-block;
        // background-image: url('../img/calulator/info-icon.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover + .tooltiptext{
          display: flex;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.area_range__text {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0;
  border: 1.5px solid #eef2f5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  @media(min-width: 768px) {
    font-size: 18px;
  }
}

.square_input {
  position: relative;
  width: 30%;
  border: 2px solid #354895;
  text-align: right;

  &:hover {
    border: 2px dashed #868E9C;
    @media(min-width: 1200px) {
      .square_plus,
      .square_minus {
        display: flex;
      }
    }
  }

  @media(min-width: 1200px) {
    border: none;
    &:hover{
      border: none;
    }
    &:hover .area_number{
      border: 2px dashed #868E9C;
    }
  }
}

.square_value--mask {
  position: absolute;
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #354895;
  z-index: 1;

  @media(min-width: 1200px) {
    width: 65%;
    height: 90%;
    top: 3px;
    right: 3px;
  }
}

.area_number {
  display: inline-block;
  padding: 15px 10px 15px 0;
  text-align: right;
  width: 74px;
  height: 99%;
  font-size: 14px; 
  border: none;
  outline: none;
  @media(min-width: 1200px) {
    border: none;
    width: 100%;
    height: 100%;
    &:focus{
      border: 2px solid #354895;    
    }
  }
}

.area {
  display: inline-block;
  padding: 20px 0px 15px 20px;
  width: 70%;
}

.square_plus,
.square_minus {
  position: absolute;
  left: 10px;
  width: 15px;
  height: 15px;
  display: none;
  border: 2px solid #868E9C;
  border-radius: 3px;
  color: #868E9C;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.square_plus{
  top: 10px;
}

.square_minus{
  bottom: 10px;
}

.range_input {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70%;
  height: 1.5px;
  margin-top: -1px;
  position: relative;
  outline: none;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 14px;
}

.checkbox_label {
  display: inline-block;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  &#consult{
    display: flex;
    & .tooltiptext {
      top: 0;
      left: 100%;
      width: 100%;
      @media(min-width: 1600px) {
        left: 80%;
      }
      @media(min-width: 1900px) {
        left: 78%;
        width: 80%;
        top: -5px;
      }
    }
    & .label__text{
      @media(min-width: 1200px) {
        position: relative;
        align-items: center;
        display: flex;
      }
    }
    & i{
      display: none;
      @media(min-width: 1200px) {
        display: inline-block;
        width: 17px;
        height: 19px;
        margin-left: 17px;
        display: inline-block;
        // background-image: url('../img/calulator/info-icon.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover + .tooltiptext{
          display: flex;
        }
      }
    }
  }
  @media(min-width: 1200px){
    font-size: 18px;
  }
}

.checkbox_label .label__text {
  color: #000;
  opacity: 0.65;
}

.checkbox_label .checkbox {
  display: inline-block;
  margin-right: 15px;
  width: 24px;
  height: 24px;
  border: 1.5px solid #eef2f5;
  border-radius: 2px;
  position: relative;
}

.checkbox[aria-checked="true"] {
  background-color: #354895;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(160, 169, 208, 0.5);
}

.checkbox[aria-checked="true"]:before {
  content: " ";
  width: 37px;
  height: 25px;
  background-image: url("../img/calulator/vector.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  left: 25%;
}

.inner__part:first-child {
  border-bottom: 1.5px solid #eef2f5;
  margin-bottom: 25px;
}

.around__price .form__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #0a1936;
  opacity: 1;
}

.around__price p {
  color: #000;
  opacity: 0.65;
}

.calculator__price {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0a1936;
}

.form_agriment__text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.agriment__link {
  color: rgba(0, 0, 0, 0.65);
}

.agriment__link:hover {
  color: #354895;
}

.form__agriment {
  display: flex;
  gap: 8px;
}

.right p:first-child {
  color: #868E9C;
  margin-bottom: 20px;
}

input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #354895;
  box-shadow: 0px 4px 8px rgba(160, 169, 208, 0.54);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(160, 169, 208, 0.54);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-ms-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(160, 169, 208, 0.54);
  cursor: pointer;
  -webkit-appearance: none;
}

.custom-select {
  position: relative;
  font-family: Arial;
  text-transform: capitalize;
  @media(min-width: 1200px) {
    flex: auto;
  }
}

.tooltiptext{
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  line-height: 1.6;
  left: 105%;
  background-color: #fff;
  top: 17px;
  z-index: 1;
  width: 70%;
  font-size: 14px;
  box-shadow: 0px 4px 30px rgba(160, 169, 208, 0.25);  
  & h3{
    margin-bottom: 10px;
    color: #052555;
  }
  &::after{
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    top: 8px;
    left: -20px;
    background-image: url('../img/calulator/tooltip_arrow.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border: 1.5px solid #eef2f5;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  display: block;
  top: 22px;
  right: 20px;
  width: 9px;
  height: 6px;
  // background-image: url('..img/calulator/arrow-down.svg');
  background-repeat: no-repeat;
  transition: .3s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  user-select: none;
  padding: 16px 0 15px 20px;
  height: 50px;
  font-size: 14px;
  @media(min-width: 1200px) {
    font-size: 18px;
  }
}

.select-items div {
  height: 30px;
  padding: 7px 0 5px 25px;
}

.select-items div:hover {
  background-image: url('../img/calulator/check.svg');
  background-position: 94% center;
  background-repeat: no-repeat;
}

/*style items (options):*/
.select-items {
  position: absolute;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 8px rgba(160, 169, 208, 0.25);
  background-color: #fff;
  border: 1.5px solid #eef2f5;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: #354895;
}

.additional_info-button{
  font-size: 14px;
  display: flex;
  align-items: stretch;
  
  
  & span{
    display: inline-block;
    padding-right: 25px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  & i {
    display: inline-block;
    width: 9px;
    height: 5px;
    // background-image: url('../img/calulator/arrow-down-blue.svg');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 10px;
    transition: .2s;
  }
  &.clicked{
    & i{
      transform: rotate(180deg);
    }
  }
  @media (min-width: 768px){
    &.form__row{
      width: 100%;
      font-size: 18px;
    }
  }
  @media (min-width: 1300px){
    display: none;
  }
}

.additional_info{
  padding-top: 25px;
  border-top: 1px solid #EEF2F5;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 14px;
  & p{
    line-height: 2;
  }
  & .title{
    margin-bottom: 25px;
  }

  @media (min-width: 768px){
    font-size: 18px;
  }
  @media (min-width: 1300px){
    display: none;
  }
}

@media (min-width: 768px) {

  .form__block h2.title {
    margin-bottom: 45px;
    font-size: 34px;
  }

  .form__select.form button.submit {
    padding: 25px 0;
  }

  .form__row {
    width: 48%;
  }

  .inner__part:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  select {
    height: 60px;
  }

  .checkboxes {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .around__price {
    width: 100%;
  }

  .inner__part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__agriment {
    order: 4;
  }

  .form__button {
    order: 3;
  }

  .select-selected {
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    user-select: none;
    padding: 20px 0 15px 20px;
    height: 60px;
  }

  .select-items div {
    height: 40px;
    padding: 12px 0 10px 25px;
  }
}

@media (min-width: 1300px) {

  .form__block h2.title {
    margin-bottom: 40px;
    font-size: 35px;
  }

  .form__select.form button {
    font-size: 18px;
  }

  .part {
    width: 50%;
  }

  .form__select.form {
    flex-direction: row;
    gap: 3%;
    padding: 0;
  }

  .form__block h2.title {
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
  }

  .checkboxes {
    width: 48%;
    order: 3;
  }

  .style__row {
    order: 4;
  }

  .part:first-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .calculator__price {
    font-size: 45px;
  }

  .around__price .form__title {
    margin-bottom: 25px;
  }

  .around__price p {
    font-size: 18px;
  }

  .form__agriment,
  .form__button,
  .right {
    margin-bottom: 0;
  }

  .form__select.form::before {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #E5E5E5;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
  }
}

.text-733{
  display: none;
}
