.card {
  background-color: $bg_alt_color;
  padding: 16px 16px 24px;
  border: 8px solid $bg_alt_color;
  transition: 0.2s;

  @media (min-width: $desktop) {
    padding: 8px 8px 32px;
  }

  &:hover {
    border: 8px solid #fff;
    background-color: $card_hover_color;

    & .card-price {
      @media (min-width: $desktop) {
        display: none;
      }
    }

    & .card-button {
      @media (min-width: $desktop) {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}

.card-icons {
  display: flex;
  align-items: center;
}

.card-icons__match {
  display: flex;
  overflow: hidden;
  width: 18px;
  height: 14px;
  opacity: 0.2;
  cursor: pointer;
}

.card-icons__like {
  display: flex;
  overflow: hidden;
  width: 18px;
  height: 16px;
  margin-left: 10px;
  opacity: 0.2;
  cursor: pointer;
}

.card-pic {
  margin-bottom: 16px;

  & .pic {
    height: 164px;

    @media (min-width: $desktop) {
      height: 220px;
    }
  }

  & img {
    object-fit: contain;
  }

  @media (min-width: $desktop) {
    margin-bottom: 12px;
  }
}

.card-availability {
  opacity: 0.5;
  font-family: $font_semibold;
  text-align: center;
  font-size: 12px;
  margin-bottom: 8px;

  @media (min-width: $desktop) {
    margin-bottom: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card-title {
  margin: 0 auto 8px;
  text-align: center;
  min-height: 52px;
  max-width: 100%;

  @media (min-width: $desktop) {
    margin-bottom: 16px;
    max-width: 72%;
  }

  & a {
    font-family: $font_semibold;
    font-size: 16px;
  }
}

.card-price {
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    min-height: 60px;
    margin-bottom: 0;
  }
}

.card-price__current {
  font-size: 16px;
  font-family: $font_semibold;
}

.card-price__old {
  text-decoration: line-through;
  margin-left: 16px;
  font-size: 16px;
}

.card-button {
  text-align: center;

  @media (min-width: $desktop) {
    display: none;
  }

  & button {
    display: inline-block;
    background-color: transparent;
  }
}
