.card {
  background-color: $bg_alt_color;
  padding: 16px 16px 24px;
  border: 8px solid $bg_alt_color;
  transition: 0.32s ease-in-out;
  position: relative;

  @media (min-width: $desktop) {
    padding: 8px 8px 32px;
  }

  &:hover {
    border: 8px solid $bg_color;
    background-color: $card_hover_color;

    & .card-price__current {
      @media (min-width: $desktop) {
        transform: translateX(-10px);
        opacity: 0;
      }
    }

    & .card-price__old {
      @media (min-width: $desktop) {
        transform: translateX(10px);
        opacity: 0;
      }
    }

    & .card-button {
      @media (min-width: $desktop) {
        display: flex;
        justify-content: center;
        transform: translateY(-35px);
        z-index: 0;
        opacity: 1;
      }
    }
  }

  &.card_in-bucket {
    padding: 23px 23px 31px;
    border: 1px solid $accent_color;
    background-color: $card_hover_color;

    @media (min-width: $desktop) {
      padding: 15px 15px 39px;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}

.card-icons {
  display: flex;
  align-items: center;
}

.card-icons__match {
  display: flex;
  overflow: hidden;
  width: 20px;
  height: 20px;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  transition: opacity 0.32s ease-in-out;
  &:hover {
    opacity: 1;
  }
  & img {
    display: none;
  }
}

.card-icons__like {
  display: flex;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  transition: opacity 0.32s ease-in-out;
  &:hover {
    opacity: 1;
  }
  & img {
    display: none;
  }
}

.card-icons_clicked {
  opacity: 1;

  & img {
    position: absolute;
    display: flex;
  }
}

.card-pic {
  margin-bottom: 16px;

  & .pic {
    height: 164px;

    @media (min-width: $desktop) {
      height: 220px;
    }
  }

  & img {
    object-fit: contain;
  }

  @media (min-width: $desktop) {
    margin-bottom: 12px;
  }
}

.card-availability {
  opacity: 0.5;
  font-family: $font_semibold;
  text-align: center;
  font-size: 12px;
  margin-bottom: 8px;

  @media (min-width: $desktop) {
    margin-bottom: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card-title {
  margin: 0 auto 8px;
  text-align: center;
  min-height: 52px;
  max-width: 100%;

  @media (min-width: $desktop) {
    margin-bottom: 16px;
    max-width: 85%;
  }

  & a {
    font-family: $font_semibold;
    font-size: 16px;
  }
}

.card-price {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    min-height: 60px;
    margin-bottom: 0;
  }
}

.card-price__current {
  font-size: 16px;
  transform: translateX(0);
  opacity: 1;
  font-family: $font_semibold;
  transition: opacity 0.32s ease-in-out, transform 0.32s ease-in-out;
}

.card-price__old {
  text-decoration: line-through;
  transform: translateX(0);
  opacity: 1;
  margin-left: 16px;
  font-size: 16px;
  transition: opacity 0.32s ease-in-out, transform 0.32s ease-in-out;
}

.card-button {
  text-align: center;

  @media (min-width: $desktop) {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    transform: translateY(0);
    transition: opacity 0.32s ease-in-out, transform 0.32s ease-in-out;
  }

  & button {
    display: inline-block;
    background-color: transparent;
  }
}

.card-labels {
  display: flex;
  gap: 5px;
}
