.form-city {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 8px;

  @media (min-width: $tablet) {
    padding: 16px;
  }
}

.form-city ul {
  column-count: 2;
  padding: 1em 0;

  @media (min-width: $tablet) {
    column-count: 3;
  }
}
