.form-city {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 8px;

  @media (min-width: $tablet) {
    padding: 16px;
  }
}

.form-city ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 1em 0;
}
