.content {
  margin-bottom: 80px;

  @media (min-width: $tablet) {
    background-color: $bg_alt_color;
    padding: 80px 0;
  }

  @media (min-width: $desktop) {
    padding: 160px 0 80px;
  }
}

.content__container {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 24px;

  @media (min-width: $tablet) {
    padding: 0 0 0 48px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 133px 0 56px;
  }
}

.title-box__content{
  margin-bottom: 24px;
  margin-bottom: 40px;
}

.title-box__content_articles {
  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.content-youtube {
  margin-bottom: 80px;
  padding-right: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 120px;
    padding-right: 48px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 69.5%;
    padding-right: 0;
  }
}

.content-youtube__list {
  display: flex;
  flex-direction: column;
}

.youtube-item{ 
  height: 47vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px;

  @media (min-width: $tablet) {
    padding: 16px;
  }

  @media (min-width: $desktop) {
    height: 460px;
    padding: 24px;
  }

  &:nth-child(1) {
    margin-bottom: 24px;

    @media (min-width: $tablet) {
      margin-bottom: 32px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
}

.youtube-item__pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.youtube-logo {
  background-color: #fff;
  padding: 8px;
  margin-bottom: 2px;

  & svg {
    width: 74px;
  }
}

.youtube-item__footer {
  display: flex;
}

.youtube-item__title {
  margin-right: 2px;
  padding: 16px;
  background-color: #fff;
  width: 236px;

  @media (min-width: $tablet) {
    font-size: 24px;
    width: auto;
    padding: 24px;
  }
}

.youtube-item__play {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;

  @media (min-width: $tablet) {
    width: 86px;
  }
  
  & svg {
    height: 33px;
    width: 38px;
  }
}

.content-articles {
  @media (min-width: $desktop) {
    width: 27.5%;
  }
}

.articles-list {

  @media (min-width: $desktop) {
    padding-left: 40px;
  }

  &:after {
    content: 'flickity';
    font-size: 0;
    position: absolute;
    @media (min-width: $desktop) {
      content: '';
    }
  }
}

.article-item {
  width: 80.5vw;
  min-height: 88vw;
  margin-right: 24px;

  @media (min-width: $tablet) {
    width: 42vw;
    min-height: 40vw;
  }

  @media (min-width: $desktop) {
    margin-bottom: 24px;
    min-height: inherit;
    width: inherit;
  }
}

.article-item__pic {
  height: 76vw;

  @media (min-width: $tablet) {
    height: 37vw;
  }

  @media (min-width: $desktop) {
    height: 283px;
  }
}

.article-item__title {
  padding: 16px 16px 0;
  font-family: $font_semibold;
  min-height: 60px;
}