.content {
  margin-bottom: 80px;

  @media (min-width: $tablet) {
    background-color: $bg_alt_color;
    padding: 80px 0;
  }

  @media (min-width: $desktop) {
    padding: 160px 0 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-youtube {
    margin-bottom: 80px;
    @media (min-width: $tablet) {
      margin-bottom: 120px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}