.content {
  margin-bottom: 80px;

  @media (min-width: $tablet) {
    background-color: $bg_alt_color;
    padding: 80px 0;
  }

  @media (min-width: $desktop) {
    padding: 160px 0 80px;
  }
}

.content__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title-box__content{
  margin-bottom: 24px;
  margin-bottom: 40px;
}

.title-box__content_articles {
  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.content-youtube {
  margin-bottom: 80px;
  @media (min-width: $tablet) {
    margin-bottom: 120px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.content-youtube__list {
  display: flex;
  flex-direction: column;
}

.youtube-item{
  min-height: 100px;
  border: 1px solid #000;
  &:nth-child(1) {
    margin-bottom: 24px;

    @media (min-width: $tablet) {
      margin-bottom: 32px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
}

.articles-list {

  &:after {
    content: 'flickity';
    font-size: 0;
    position: absolute;
    @media (min-width: $desktop) {
      content: '';
    }
  }
}

.article-item {
  margin-bottom: 24px;
  min-height: 100px;
}