.gallery {
  margin-bottom: 80px;

  @media (min-width: $desktop) {
    margin-bottom: 203px;
  }

  &-section {
    margin-bottom: 80px;
    padding-bottom: 50px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      padding-bottom: 0;
      height: 0;
      overflow: hidden;
    }

    @media (min-width: $desktop) {
      overflow: visible;
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__active {
      @media (min-width: $tablet) {
        display: block;
        height: 100%;
        padding-bottom: 60px;
      }

      @media (min-width: $desktop) {
        padding-bottom: 0;
        display: block;
      }
    }
  }

  &-title {
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &-subtitle {
    margin-bottom: 24px;
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
  }

  &-item {
    width: 100%;
    max-width: 400px;
    height: 463px;
    margin-right: 24px;

    @media (min-width: $tablet) {
      width: 48%;
      margin-right: 4%;
    }

    @media (min-width: $desktop) {
      margin-right: 0;
      width: 31.4%;
      margin-bottom: 40px;
      height: 512px;
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      margin-bottom: 0;
    }
  }

  &-list {
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &:after {
      content: "flickity";
      font-size: 0;
      position: absolute;
      @media (min-width: $desktop) {
        content: "";
      }
    }
  }

  &-card {
    height: 100%;
  }

  &-tabs {
    display: none;
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &-tab {
    position: relative;
    min-height: 45px;
    text-align: center;

    &__title {
      opacity: 0.2;
      cursor: pointer;
      text-transform: uppercase;
    }

    &__link {
      position: absolute;
      left: calc(100% + 16px);
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 12px;
      height: 23px;
      min-width: 140px;
      text-decoration: underline;
      text-transform: uppercase;
      opacity: 1;
      transition: opacity 0.32s ease-in-out;
      text-underline-offset: 2px;
      display: none;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    &__active {
      & .gallery-tab__title {
        opacity: 1;
      }

      & .gallery-tab__link {
        display: flex;
      }
    }
  }
}
