.header-catalog {
  position: absolute;
  z-index: 99;
  left: 0;
  top: -100%;
  width: 100%;
  opacity: 0;
  transform: translateY(0px);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: hidden;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out,
    height 0.2s ease-in-out;

  &.show {
    top: 0;
    transform: translateY(110px);
    opacity: 1;
    z-index: 99;
  }

  &__wrapper {
    z-index: 101;
    position: relative;
  }

  &__container {
    display: flex;
  }

  &__categories {
    padding: 20px 20px 56px 0;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(30, 30, 30, 0.1);
    background-color: #fff;
    overflow-y: auto;

    & > div {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__subcategories {
    padding: 20px 0 56px 54px;
    background-color: #fff;
    overflow: hidden;
  }

  &__popular-categories,
  &__common-categories,
  &__about-categories {
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 16px;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 7px 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__category_active {
    opacity: 1;
  }

  &__category-name {
    font-size: 14px;
    font-family: $font_semibold;
  }

  &__subcategory {
    display: flex;
    & span {
      font-size: 12px;
      font-family: $font_regular;
      color: $menu_subcategory_color;
    }

    &:first-of-type {
      margin-top: 8px;
    }
  }

  &__subcategories-block {
    margin-bottom: 12px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subcategories-item {
    padding-right: 56px;
    display: none;

    &_active {
      display: flex;
      min-height: 100%;
      flex-direction: column;
    }
    @-moz-document url-prefix() {
      padding-bottom: 28px;
    }
  }

  &__subcategories-block-title {
    font-family: $font_bold;
    font-size: 14px;
    margin-bottom: 8px;
    color: $menu_category_color;
  }

  &.hidden {
    display: none !important;
  }
}

.header-subcategories {
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font_bold;
    margin-bottom: 32px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 240px;
  }

  &__list {
    display: flex;
    flex: auto;
  }

  &__banner {
    min-width: 432px;
    min-height: 186px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 24px;
    padding-top: 18%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    align-items: flex-start;
  }

  &__pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__label {
    position: relative;
    z-index: 1;
    padding: 16px;
    font-family: $font_black;
    text-transform: uppercase;
    font-size: 18px;
  }
}
