.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.32s ease-in-out;
  background-color: #fff;

  &.scroll-down {
    @media (min-width: $desktop) {
      transform: translate3d(0, -50%, 0);
    }

    & .header-logo {
      @media (min-width: $desktop) {
        transform: translateY(55px);
      }
    }

    & .header-menu {
      @media (min-width: $desktop) {
        transform: translateY(20px);
        opacity: 0;
        z-index: -1;
        height: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .body_index .header__bottom_animated,
  .body_index .header__top_animated {
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translate(5px, 20px);
    transition: transform 0.2s ease-in-out;
    opacity: 0;
  }

  .body_index .header-burger .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .body_index .header-menu__item .header__bottom_animated,
  .body_index .header__top_animated .header-phone__number {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    transition: opacity 0.32s ease-in-out;
  }

  .body_index .header-menu__item:nth-child(2) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

  .body_index .header-menu__item:nth-child(3) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }

  .body_index .header-menu__item:nth-child(4) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
  }

  .body_index .header-menu__item:nth-child(5) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  .body_index .header-icons__item .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
  }

  .body_index .header-icons__item:nth-child(2) .header__bottom_animated,
  .body_index .header__top_animated.header-callback {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
  }

  .body_index .header-icons__item:nth-child(3) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
  }

  .body_index .header-icons__item:nth-child(4) .header__bottom_animated,
  .body_index .header__top_animated.header-consult {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
  }

  .body_index .header-icons__item:nth-child(5) .header__bottom_animated {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}

@keyframes slideIn {
  from {
    transform: translate(5px, 20px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.header__top {
  width: 100%;
  height: 55px;
}

.header__bottom {
  height: 55px;
  position: relative;
  border-top: 1px solid rgba(30, 30, 30, 0.2);
  border-bottom: 1px solid rgba(30, 30, 30, 0.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
}

.header-logo {
  max-width: 50%;
  display: flex;
  transform: translateY(0px);
  transition: transform 0.32s ease-in-out;

  @media (min-width: $tablet) {
    flex-grow: 1;
    max-width: inherit;
    justify-content: center;
  }

  @media (min-width: $desktop) {
    order: 1;
  }
}

.header-city {
  align-items: center;
  cursor: pointer;

  @media (min-width: $desktop) {
    margin-right: 24px;
  }

  &:hover {
    opacity: 0.5 !important;
  }
}

.header-phone__number {
  &:hover {
    opacity: 0.5 !important;
    transition: opacity 0.32 ease-in-out;
  }
}

.header-city__text {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-family: $font_semibold;
}

.header-city__icon {
  width: 10px;
  height: 12px;
  overflow: hidden;
  margin-right: 9px;
}

.header-callback {
  text-decoration: underline;
  font-family: $font_semibold;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: opacity 0.32s ease-in-out !important;
  cursor: pointer;

  &:hover {
    transition: opacity 0.32s ease-in-out !important;
    opacity: 0.5 !important;
  }

  @media (min-width: $desktop) {
    order: 2;
  }
}

.header-consult {
  text-decoration: underline;
  font-family: $font_semibold;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: opacity 0.32s ease-in-out;

  &:hover {
    opacity: 0.5 !important;
    transition: opacity 0.32s ease-in-out;
  }

  @media (min-width: $desktop) {
    order: 3;
    margin-left: 28px;
  }
}

.header-phone {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-family: $font_semibold;
  text-underline-offset: 2px;
  transition: opacity 0.32s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
  @media (min-width: $desktop) {
    padding-right: 16px;
  }
}

.header-menu {
  @media (min-width: $desktop) {
    transform: translateY(0px);
    opacity: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: transform 0.32s ease-in-out, opacity 0.32s ease-in-out;
  }
}

.header-burger {
  display: flex;
  @media (min-width: $desktop) {
    flex-basis: 285px;
  }
}

.header-menu__item {
  text-transform: uppercase;
  font-family: $font_semibold;
  position: relative;
  @media (min-width: $desktop) {
    padding: 0;
    margin-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:hover span {
    @media (min-width: $desktop) {
      transform: translateY(-2px);
    }
  }

  &:hover .header-menu__inner-menu {
    @media (min-width: $desktop) {
      visibility: visible;
      opacity: 1;
      z-index: 99999999;
      transform: translateY(0px);
    }
  }

  &:hover:before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  &:before {
    @media (min-width: $desktop) {
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 99%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  & span {
    transition: transform 0.32s;
    transform: translateY(0);
  }
}

.header-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet) {
    width: 285px;
  }
}

.header-icons__item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(30, 30, 30, 0.2);
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &_highlighted {
    background-color: $bg_alt_color;

    & .header-icons__amount {
      display: flex;
    }

    & .header-icon__original {
      display: none;
    }
  }

  &:hover:before {
    @media (min-width: $desktop) {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }

  &:before {
    @media (min-width: $desktop) {
      position: absolute;
      content: " ";
      width: 100%;
      height: 2px;
      background: currentColor;
      top: 98%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }
  }
}

.header-icons__item:last-of-type {
  border-right: 1px solid rgba(30, 30, 30, 0.2);
}

.header-menu__inner-menu {
  @media (min-width: $desktop) {
    list-style: none;
    position: absolute;
    left: -32px;
    top: 53px;
    padding: 32px;
    background: #fff;
    border: 1px solid rgba(30, 30, 30, 0.2);
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
  }
}

.header-menu__inner-item {
  @media (min-width: $desktop) {
    margin-bottom: 24px;
  }

  &:last-child {
    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}

.header-menu__inner-text {
  @media (min-width: $desktop) {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    transition: color 0.3s ease-in-out !important;
    text-transform: initial;
    font-family: $font_semibold;
  }

  &:hover {
    @media (min-width: $desktop) {
      color: rgba(51, 51, 51, 1);
    }
  }
}

.search-form {
  position: absolute;
  top: 0;
  left: 24px;
  width: calc(100% - 48px);
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(10px);
  display: none;
  transition: transform 0.32s ease-in-out, opacity 0.32s ease-in-out;
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);

  @media (min-width: $tablet) {
    left: 48px;
    width: calc(100% - 380px);
  }

  @media (min-width: $desktop) {
    left: 56px;
    width: calc(100% - 396px);
  }

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    display: flex;
  }
}

.search-form__input {
  height: 100%;
  flex: auto;
  border: none;
  border-right: 1px solid rgba(79, 79, 79, 0.2);

  &::placeholder {
    color: rgba(51, 51, 51, 0.5);
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  @media (min-width: $tablet) {
  }
}

.search-form__button {
  width: 65px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 57px;
  }

  @media (min-width: $desktop) {
    width: 56px;
  }

  & svg {
    width: 16px;
    height: 16px;
  }
}

.search-form__results {
  display: none;
  width: calc(100% + 2px);
  position: absolute;
  top: 101%;
  left: -1px;
  padding: 16px;
  background-color: #fff;
  visibility: hidden;
  display: none;
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-bottom: 1px solid rgba(79, 79, 79, 0.2);

  &.show {
    display: flex;
    flex-direction: column;
    visibility: visible;
  }
}

.search-form__results-item {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;

  &:hover {
    background-color: $bg_alt_color;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.header-icons__amount {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  font-family: $font_semibold;
  color: $accent_color;
  right: 5px;
  top: 5px;
  font-size: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.header-icon__filled {
  position: absolute;
}
