.header-catalog {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(0px);
  overflow: hidden;
  height: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    height 0.2s ease-in-out;

  &.show {
    transform: translateY(110px);
    opacity: 1;
    z-index: 99;
    height: 100%;
  }

  &__overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 110vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__wrapper {
    z-index: 101;
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 27%,
      rgba(255, 255, 255, 0) 27%,
      rgba(255, 255, 255, 0) 100%
    );

    &.full {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &__container {
    display: flex;
    max-height: 80vh;
  }

  &__categories {
    padding: 32px 0 56px;
    width: 27%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(30, 30, 30, 0.1);
    background-color: #fff;
    overflow-y: auto;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    & > div {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__subcategories {
    padding: 32px 0 56px 54px;
    background-color: #fff;
    overflow-y: auto;
    scrollbar-color: auto;
    scrollbar-width: thin;
  }

  &__popular-categories,
  &__common-categories,
  &__about-categories {
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 16px;
    cursor: pointer;
    opacity: 0.7;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__category_active {
    opacity: 1;
    & .header-catalog__category-name {
      font-family: $font_bold;
    }
  }

  &__category-name {
    font-size: 14px;
    font-family: $font_semibold;
  }

  &__subcategory {
    & span {
      font-size: 12px;
      font-family: $font_regular;
      color: $menu_subcategory_color;
    }
  }

  &__subcategories-block {
    margin-bottom: 24px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }

  &__subcategories-item {
    padding-right: 56px;
    display: none;

    &_active {
      display: block;
    }
    @-moz-document url-prefix() {
      padding-bottom: 28px;
    }
  }

  &__subcategories-block-title {
    font-family: $font_bold;
    font-size: 14px;
    margin-bottom: 8px;
    color: $menu_category_color;
  }

  &.hidden {
    display: none !important;
  }
}

.header-subcategories {
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font_bold;
    margin-bottom: 32px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 240px;
  }

  &__list {
    display: flex;
    margin-bottom: 32px;
  }

  &__banner {
    min-width: 432px;
    min-height: 186px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 24px;
    padding-top: 18%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    align-items: flex-start;
  }

  &__pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__label {
    position: relative;
    z-index: 1;
    padding: 16px;
    font-family: $font_black;
    text-transform: uppercase;
    font-size: 18px;
  }
}

#header-subcategory-3 {
  &::after {
    display: block;
    position: absolute;
    content: " ";
    background-color: #fff;
    width: 100px;
    height: 100%;
    left: 100%;
    top: 0;
  }
}
