/*..........privacy.........*/
/*//////////////////////////*/

.privacy-policy__text {
   line-height: 1.5;
}

.privacy-policy__list {
   line-height: 1.5;
    list-style: none;
   counter-reset: li;
}

.privacy-policy__item  {
   counter-increment: li;
   content: counters(li, ".") ". ";
}

