.about {
  margin-bottom: 80px;

  @media (min-width: $desktop) {
    margin-bottom: 160px;
  }

  &_container {
    background-image: url("../../assets/img/about/bg-pic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__title {
    text-align: center;
    font-size: 18px;
    font-family: $font_black;
    margin-bottom: 40px;
    max-width: 870px;
    margin: 0 auto 40px;

    @media (min-width: $tablet) {
      font-size: 32px;
      margin: 0 auto 32px;
    }

    @media (min-width: $desktop) {
      font-size: 40px;
      margin: 0 auto 20px;
    }
  }

  &__pic {
    max-width: 374px;
    margin: 0 auto 40px;

    @media (min-width: $tablet) {
      margin: 0 auto 32px;
    }

    @media (min-width: $desktop) {
      margin: 0 auto 50px;
    }
  }

  &__text {
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 16px;

    @media (min-width: $tablet) {
      margin: 0 auto 32px;
    }

    @media (min-width: $desktop) {
      margin: 0 auto 50px;
    }

    &_special {
      font-size: 18px;
      margin: 0;
      max-width: inherit;

      @media (min-width: $tablet) {
        font-size: 24px;
        max-width: 70%;
      }

      @media (min-width: $desktop) {
        font-size: 32px;
        max-width: 45%;
        align-self: flex-end;
      }

      & a {
        color: $accent_color;
        text-decoration: underline;
        text-underline-offset: 2px;
        
        @media (min-width: $tablet) {
          text-underline-offset: 3px;
        }

        @media (min-width: $desktop) {
          text-underline-offset: 5px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: $desktop) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &_pics {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 40px;

      @media (min-width: $tablet) {
        margin-bottom: 20px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 0;
        width: 51%;
        padding-bottom: 132px;
      }

      & .pic {
        width: 67%;
        position: relative;

        @media (min-width: $tablet) {
          width: 61%;
        }

        @media (min-width: $desktop) {
          width: 100%;
        }

        &_bounded {
          position: absolute;
          top: 16px;
          width: 37%;
          max-width: 160px;
          transform: translateX(-40%);

          @media (min-width: $tablet) {
            top: 40px;
          }

          @media (min-width: $desktop) {
            top: 56px;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}