.brands {
  margin-bottom: 80px;

  @media (min-width: $desktop) {
    margin-bottom: 160px;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 39%, rgba(244, 248, 252, 1) 39%, rgba(244, 248, 252, 1) 100%);
  }

  &_container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 80px;
      padding: 0 0 0 48px;
    }
  }

  & .title-box_brands{
    padding: 0 24px;
    @media (min-width: $tablet) {
      padding: 0 48px;
    }
    @media (min-width: $desktop) {
      padding: 0;
    }
  }

  &-wrapper {
    background-color: $bg_alt_color;
    padding: 48px 0 75px;

    @media (min-width: $tablet) {
      padding: 59px 0 59px 48px;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(244, 248, 252, 1) 19%, rgba(244, 248, 252, 1) 100%);
    }

    @media (min-width: $desktop) {
      flex: auto;
      background: none;
      padding: 59px 0 59px;
    }

    &__container{
      @media (min-width: $tablet) {
        padding: 0;
      }
    }
  }

  &-carousel {
    @media (min-width: $tablet) {
      padding: 0 0 0 40%;
    }
    @media (min-width: $desktop) {
      padding: 0 0 0 24%;
    }
  }

  &-carousel__item {
    width: 144px;
    height: 60px;
    margin-right: 56px;
  }

  & .flickity-prev-next-button {
    top: 160%;

    @media (min-width: $tablet) {
      top: 50%;
    }

    &.previous {
      left: 20%;

      @media (min-width: $tablet) {
        left: 0;
      }
    }

    &.next {
      right: 20%;

      @media (min-width: $tablet) {
        left: 120px;
      }
    }
  }

  & .flickity-viewport{
    @media (min-width: $desktop) {
      overflow: visible;
      clip-path: inset(-100vw -100vw -100vw 0);
    }
  }
}