.categories {
  margin-bottom: 80px;

  @media (min-width: $desktop) {
    margin-bottom: 160px;
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(23, 1fr);
  grid-gap: 16px;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(177, 4px);
    column-gap: 32px;
    row-gap: 0;
  }
}

.categories__pic {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  text-align: right;
  transform: scale(1);
  transition: transform 0.32s ease-in-out;

  @media (min-width: $tablet) {
    width: 60%;
  }

  @media (min-width: $desktop) {
    width: 82%;
  }
}

.categories__pic_cover {
  width: 100%;
  height: 100%;
  transform: scale(1);
  will-change: transform;
  transition: transform 0.32s ease-in-out;
}

.categories__label {
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  padding: 6px;

  @media (min-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $desktop) {
    padding: 16px;
    font-size: 16px;
  }
}

.categories-item {
  padding: 12px;
  align-items: flex-start;
  min-height: 144px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet) {
    min-height: 185px;
  }

  @media (min-width: $desktop) {
    padding: 24px;
    min-height: inherit;
  }

  &:hover .categories__pic {
    @media (min-width: $desktop) {
      transform: scale(1.03);
    }
  }

  &:hover .categories__pic_cover {
    @media (min-width: $desktop) {
      transform: scale(1.03);
    }
  }
}

.categories-item:nth-child(1) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 3;
    grid-row: span 109;
    margin-bottom: 16px;
  }
}

.categories-item:nth-child(2) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 3;
    grid-row: span 109;
    margin-bottom: 16px;
  }
}

.categories-item:nth-child(3) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 3;
    grid-row: span 127;
    margin-bottom: 16px;
  }

  & .categories__pic {
    @media (min-width: $desktop) {
      width: 76%;
    }
  }
}

.categories-item:nth-child(4) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 2;
    grid-row: span 68;
    margin-top: 16px;
  }

  & .categories__pic {
    @media (min-width: $desktop) {
      width: 74%;
    }
  }
}

.categories-item:nth-child(5) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 2;
    grid-row: span 68;
    margin-top: 16px;
  }

  & .categories__pic {
    @media (min-width: $desktop) {
      width: 74%;
    }
  }
}

.categories-item:nth-child(6) {
  grid-row: span 6;
  @media (min-width: $desktop) {
    grid-column: span 2;
    grid-row: span 68;
    margin-top: 16px;
  }

  & .categories__pic {
    @media (min-width: $desktop) {
      width: 74%;
    }
  }
}

.categories-item:nth-child(7) {
  grid-column: span 2;
  grid-row: span 5;
  @media (min-width: $desktop) {
    grid-column: span 3;
    grid-row: span 50;
    margin-top: 16px;
  }
}
