.consult {
  margin-bottom: 65px;
  background-color: $bg_alt_color;
  padding: 72px 0;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 25%,
      rgba(244, 248, 252, 1) 25%,
      rgba(244, 248, 252, 1) 100%
    );
  }

  @media (min-width: $desktop) {
    margin-bottom: 160px;
    background: rgb(255, 255, 255);
    padding: 66px 0;
  }

  &::before {
    display: none;

    @media (min-width: $desktop) {
      position: absolute;
      display: block;
      content: " ";
      height: 100%;
      width: 1100px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 11%,
        rgba(244, 248, 252, 1) 11%,
        rgba(244, 248, 252, 1) 100%
      );
    }
  }
}

.consult__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media (min-width: $desktop) {
    padding: 0 250px 0 170px;
  }
}

.consult-header {
  margin-bottom: 40px;
  @media (min-width: $tablet) {
    margin-bottom: 0;
    width: 49%;
  }
  @media (min-width: $desktop) {
    width: 409px;
    padding-top: 13px;
  }
}

.consult__title {
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 1.3;
  }
}

.consult_subtitle {
  @media (min-width: $desktop) {
    font-size: 14px;
  }
}

.consult-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    width: 42%;
  }

  @media (min-width: $desktop) {
    width: 400px;
  }
}

.input-wrapper {
  margin-bottom: 24px;
  position: relative;

  & input,
  & textarea {
    @media (min-width: $desktop) {
      padding: 19px 23px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.checkbox-wrapper {
  position: relative;
  margin-top: 35px;
}

.consult__input {
  &::placeholder {
    text-transform: uppercase;
    font-family: $font_semibold;
  }
}

.consult__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox {
  display: flex;

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

.custom-checkbox p {
  display: block;
  position: relative;
  user-select: none;
  margin-bottom: 32px;
  padding-left: 32px;
  font-size: 12px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.custom-checkbox span {
  @media (min-width: $tablet) {
    margin-right: 3px;
  }
}

.custom-checkbox a {
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: opacity 0.32s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.custom-checkbox > p::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $text_color;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #fff;
  cursor: pointer;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + p:hover::before {
  border-color: $text_color;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + p::before {
  background-color: $text_color;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + p::before {
  border-color: $text_color;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + p::before {
  background-color: $text_color;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.consult_button {
  width: auto;

  @media (min-width: $desktop) {
    font-size: 14px;
    padding: 18px 23px;
  }
}

.custom__label {
  position: absolute;
  left: 17px;
  top: 15px;
  font-size: 12px;
  color: $text_color;
  pointer-events: none;
  font-family: $font_semibold;
  text-transform: uppercase;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: left;

  @media (min-width: $desktop) {
    left: 23px;
    top: 18px;
  }
}

.input:focus + .custom__label,
.input:not(:placeholder-shown) + .custom__label {
  opacity: 0.5;
  transform: translateY(-70%) scale(0.6);
}

.input-wrapper:first-child .input:not(:placeholder-shown) ~ .input__required {
  transition: opacity 0.32s ease-in-out;
  opacity: 1;
}

// .input-wrapper:first-child .input:not(:placeholder-shown) {
//   border: 1px solid $red;
// }

.input__required {
  opacity: 0;
  position: absolute;
  top: 101%;
  left: 16px;
  font-size: 10px;
  color: $red;
}
