.first-screen {
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 118px);
  display: flex;
  flex-direction: column; 
  padding: 0 20px;
  margin-bottom: 50px;

}