.learning{

  margin-bottom: 80px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 160px;
  }

  &_container {
    display: flex;
    flex-direction: column;
  
    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header{
    margin-bottom: 56px;

    @media (min-width: $tablet) {
      margin-bottom: 80px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
      width: 37%;
    }
  }

  &_title{
    margin-bottom: 24px;
    @media (min-width: $tablet) {
      text-align: center;
    }

    @media (min-width: $desktop) {
      text-align: left;
    }
  }

  &__text{
    line-height: 2;
    margin-bottom: 32px;

    @media (min-width: $tablet) {
      text-align: center;
    }

    @media (min-width: $desktop) {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__categories{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet) {
      margin-bottom: 56px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 64px;
    }
  }

  &_link{
    font-family: $font_semibold;
    line-height: 1.4;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  & .courses {

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop) {
      width: 57%;
    }

    &:after {
      content: 'flickity';
      font-size: 0;
      position: absolute;
      @media (min-width: $tablet) {
        content: '';
      }
    }

    & .course {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70vw;
      height: 70vw;
      margin-right: 6vw;
      padding: 16px;

      @media (min-width: $tablet) {
        margin-right: inherit;
        width: 48%;
        height: 38vw;
      }

      @media (min-width: $desktop) {
        height: 21vw;
      }

      &_1{
        background-color: #FCF4F4;
        margin-bottom: 40px;
        @media (min-width: $desktop) {
          margin-bottom: 0px;
        }
      }

      &_2{
        background-color: #FAFBFC;
        margin-bottom: 40px;
        @media (min-width: $desktop) {
          margin-bottom: 0px;
          margin-top: 40px;
        }
      }

      &_3{
        background-color: #EDFCF3;
      }

      &_4{
        background-color: #EDFAFC;
        @media (min-width: $desktop) {
          margin-top: 40px;
        }
      }

      &-header {
        display: flex;
        gap: 14px;

        & .course-label{
          font-family: $font_bold;
        }
      }

      &-info {
        background-color: $bg-color;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: $font_semibold;
        font-size: 12px;

        @media (min-width: $tablet) {
          font-size: 16px;
        }
      
        @media (min-width: $desktop) {}
      }

      &-date{
        @media (min-width: $tablet) {
          font-size: 12px;
        }
      }

      &-price {
        display: inline-block;

        @media (min-width: $tablet) {
          font-size: 12px;
        }

        &_before {
          margin-left: 8px;
          text-decoration: line-through;
        }
      }
    }

    & .flickity-viewport{
      overflow: visible;
    }

    & .flickity-prev-next-button{
      top: 100%;
    }
  }
}