.learning{

  margin-bottom: 80px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 160px;
  }

  &_container {
    display: flex;
    flex-direction: column;
  
    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header{
    margin-bottom: 56px;

    @media (min-width: $tablet) {
      margin-bottom: 80px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
      width: 37%;
    }
  }

  &_title{
    margin-bottom: 24px;
    @media (min-width: $tablet) {
      text-align: center;
    }

    @media (min-width: $desktop) {
      text-align: left;
    }
  }

  &__text{
    line-height: 2;
    margin-bottom: 32px;

    @media (min-width: $tablet) {
      text-align: center;
    }

    @media (min-width: $desktop) {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__categories{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet) {
      margin-bottom: 56px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: $desktop) {
      margin-bottom: 64px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &_link{
    font-family: $font_semibold;
    line-height: 1.4;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
    }

    @media (min-width: $desktop) {
      justify-content: flex-start;
    }
  }

  & .courses {

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop) {
      width: 57%;
    }

    &:after {
      content: 'flickity';
      font-size: 0;
      position: absolute;
      @media (min-width: $tablet) {
        content: '';
      }
    }

    & .course {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      width: 70vw;
      height: 70vw;
      margin-right: 6vw;
      padding: 16px;
      align-items: flex-start;
      overflow: hidden;

      @media (min-width: $tablet) {
        margin-right: inherit;
        width: 48%;
        height: 38vw;
        margin-bottom: 40px;
      }

      @media (min-width: $desktop) {
        height: 21vw;
        max-height: 293px;
        margin-bottom: 0px;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 40px;

        @media (min-width: $tablet) {
          margin-bottom: 0px;
        }
        @media (min-width: $desktop) {
          margin-top: 40px;
        }
      }

      &-header {
        display: flex;
        gap: 14px;
        position: relative;
        z-index: 1;

        & .course-label{
          font-family: $font_bold;
        }
      }

      &-info {
        background-color: $bg_color;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: $font_semibold;
        font-size: 12px;
        position: relative;
        z-index: 1;

        @media (min-width: $tablet) {
          font-size: 16px;
        }
      }

      &-date{
        @media (min-width: $tablet) {
          font-size: 12px;
        }
      }

      &-price {
        display: inline-block;

        @media (min-width: $tablet) {
          font-size: 12px;
        }

        &_before {
          margin-left: 8px;
          text-decoration: line-through;
        }
      }

      &_pic{
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;

        & img {
          object-position: right top;
          object-fit: contain;
        }
      }
    }

    & .flickity-viewport{
      overflow: visible;
    }

    & .flickity-prev-next-button{
      top: 110%;
      &.previous{
        left: 20%;
      }
      &.next{
        right: 20%;
      }
    }

    & .flickity-button-icon{
      background: rgba(255, 255, 255, 0);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    & .flickity-button {
      background: rgba(255, 255, 255, 0);
      color: #333;
      width: 73px;
      height: 73px;
    }
  }
}