<article class="about">
  <div class="container about_container">
    <p class="about__title">
      Мы рады, что можем предложить наш&#160;богатый ассортимент самому
      требовательному покупателю и&#160;уверены, что ограничиваться тремя
      городами&#160;мы не&#160;будем.<span class="cover"></span>
    </p>
    <div class="about__pic">
      <picture>
        <source srcset="assets/img/about/lady.webp" type="image/webp" />
        <img
          class="lazyload"
          src="assets/img/about/lady.jpg"
          alt="lady"
          loading="lazy"
          width="100%"
          height="100%"
        />
      </picture>
    </div>
    <p class="about__text text_center">
      Повседневная практика показывает, что разбавленное изрядной долей эмпатии,
      рациональное мышление позволяет оценить значение распределения внутренних
      резервов и ресурсов. В&#160;своём стремлении повысить качество жизни, они.
    </p>
    <div class="about__content">
      <div class="about__content_pics">
        <div class="pic">
          <picture>
            <source
              media="(min-width: 500px)"
              srcset="assets/img/about/device-1-desktop.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 500px)"
              srcset="assets/img/about/device-1-desktop.jpg"
            />
            <source
              srcset="assets/img/about/device-1-mobile.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/about/device-1-mobile.jpg"
              alt="device"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
          <div class="pic_bounded">
            <picture>
              <source
                srcset="assets/img/about/device-2.webp"
                type="image/webp"
              />
              <img
                class="lazyload"
                src="assets/img/about/device-2.jpg"
                alt="device"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
        </div>
      </div>
      <p class="about__text about__text_special">
        Мы предлагаем покупателям не&#160;только машины, но&#160;и&#160;весь
        ассортимент товаров для шитья&#160;&#8209;&#160;<a href="">швейные</a>
        и&#160;<a href="">вышивальные нитки</a>,
        <a href="">портновские ножницы</a>, прекрасные
        <a href="">хлопковые ткани</a>, <a href="">пуговицы</a> и&#160;<a
          href=""
          >множество других полезных товаров</a
        >.
      </p>
    </div>
    <div class="button-wrapper">
      <button class="button button_inverse">о компании</button>
    </div>
  </div>
</article>
