<article class="advantages">
  <div class="container">

    <div class="advantages-content">
      <div class="advantages-content__text">
        <h2 class="title">Почему стоит обратиться к&#160;нам</h2>
        <p class='text'>Наша студия уже&#160;несколько лет занимается
          разработкой
          уникальных дизайн&#8209;проектов, яркие примеры которых вы можете
          посмотреть в
          портфолио на сайте. За годы работы &#160;получили множество
          положительных
          оценок завели постоянных клиентов. Кроме интерьеров мы проводим
          ремонтные работы и полностью берем на себя ответственность за
          реализацию идеи.</p>
        <p class="title">Плюсы обращения к&#160;нам:</p>
        <ol class="list">
          <li class="item"><b>Штат опытных сотрудников.</b> У нас работают
            архитекторы,
            дизайнеры, сметчики. Сотрудники регулярно проходят дополнительные
            семинары, курсы, посещают выставки, развиваясь в&#160;выбранной
            сфере.
          </li>
          <li class="item"><b>Доступные цены.</b> Стоимость разработки интерьера
            в&#160;квартире, цена за&#160;ремонт ниже по&#160;сравнению
            с&#160;тем, что готовы
            предложить конкуренты.
          </li>
          <li class="item"><b>Гарантии.</b> Мы&#160;предоставляем гарантии как
            на&#160;разработку проектной документации, так на&#160;ремонтные
            работы. Вы&#160;получите качественный
            результат.
          </li>
          <li class="item"><b>Индивидуальный подход.</b> Перед выполнением
            задачи мы&#160;общаемся с&#160;клиентом, уточняем
            его&#160;пожелания, потребности, видение результата.
          </li>
        </ol>
      </div>
      <span class="small-title visible__md">Наши преимущества</span>
      <div class="pic">
        <picture>
          <source media="(min-width: 500px)"
            srcset="assets/img/index/advantages-pic.webp" type="image/webp">
          <source media="(min-width: 500px)"
            srcset="assets/img/index/advantages-pic.jpg">
          <source srcset="assets/img/index/advantages-pic-mobile.webp"
            type="image/webp">
          <img class="lazyload" src="assets/img/index/advantages-pic-mobile.jpg"
            alt="House" loading="lazy" width="100%" height="100%">
        </picture>
      </div>
    </div>

  </div>

  <div class="advantages-list">
    <div class="container">
      <ul class="list">
        <li class="item">
          <h3 class="title">Поэтапная оплата</h3>
          <p class="text">Детально согласуем каждый этап работы:
            от&#160;планировки
            до&#160;каждого элемента декора в&#160;интерьере.</p>
        </li>
        <li class="item">
          <h3 class="title">Гарантия выполнения сроков</h3>
          <p class="text">Срок исполнения фиксируется нами
            в&#160;договоре, поэтому мы&#160;гарантируем сдачу объекта
            во&#160;время.</p>
        </li>
        <li class="item">
          <h3 class="title">Своя ремонтная бригада</h3>
          <p class="text">Все ремонтные и отделочные работы на&#160;объектах
            выполнит
            бригада рабочих из&#160;нашего штата.</p>
        </li>
        <li class="item">
          <h3 class="title">Скидка на закупку</h3>
          <p class="text">Благодаря партнёрской сети вы&#160;получаете
            максимально
            выгодные скидки на&#160;закупку всех необходимых товаров.</p>
        </li>
      </ul>
    </div>
  </div>
</article>