<aside class="aside-modal">
  <header class="modal-header">
    <a class="close-modal"
      ><img src="assets/img/icons/close-cross.svg" alt="Close"
    /></a>
  </header>
  <div class="modal-inner-wrap modal-login" id="modal-login">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="aside-modal__header">
          <h3 class="aside-modal__title">Войти или зарегистрироваться</h3>
        </header>

        <form
          action=""
          class="form aside-modal__form"
          id="modal-login-form"
          novalidate
        >
          <fieldset>
            <div class="input-wrapper field">
              <input
                type="tel"
                maxlength="16"
                data-validate-length-range="8,16"
                class="input"
                name="phone"
                placeholder=" "
                required="required"
              />
              <label class="custom__label" for="phone">ТЕЛЕФОН*</label>
            </div>
          </fieldset>

          <div class="button-wrapper aside-modal__buton-wrapper">
            <button class="button button_inverse button_aside" type="submit">
              Получить код в смс
            </button>
          </div>
        </form>

        <form
          action=""
          class="form aside-modal__form hidden hidden"
          id="modal-login-form-code"
          novalidate
        >
          <fieldset>
            <div class="input-wrapper field">
              <input
                type="text"
                maxlength="16"
                data-validate-length-range="2,16"
                class="input"
                name="smsCode"
                pattern="myCustomRegex"
                data-validate-text-invalid="неправильный код"
                placeholder=" "
                required="required"
              />
              <label class="custom__label" for="login-phone"
                >Введите код из смс</label
              >
            </div>
          </fieldset>

          <div class="button-wrapper aside-modal__buton-wrapper">
            <button class="button button_inverse button_aside" type="submit">
              отправить
            </button>
          </div>

          <a class="link">Код не пришел, отправить еще раз</a>
        </form>

        <div class="aside-modal-welcome-message hidden">
          <p class="welcome-text">
            Заполните Ваш профиль и получите дисконтную карту со скидкой -15%
          </p>
          <div class="button-wrapper">
            <a href="" class="button button_inverse button_aside"
              >в личный кабинет</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-inner-wrap modal-question" id="modal-question">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="aside-modal__header">
          <h3 class="aside-modal__title">У вас есть вопросы?</h3>
          <p class="aside-modal__subtitle">
            Оставьте номер телефона, мы перезвоним вам в ближайшее время
          </p>
        </header>

        <form action="" class="form aside-modal__form" id="modal-question-form">
          <fieldset>
            <div class="input-wrapper field">
              <input
                type="text"
                maxlength="16"
                data-validate-length-range="2,16"
                class="input"
                name="name"
                placeholder=" "
                required="required"
              />
              <label class="custom__label" for="name">имя</label>
            </div>

            <div class="input-wrapper field">
              <input
                type="tel"
                maxlength="16"
                class="input"
                name="name"
                placeholder=" "
                required="required"
              />
              <label class="custom__label" for="name">телефон*</label>
            </div>

            <div class="input-wrapper field">
              <textarea
                class="input"
                name="modal-textarea"
                id="modal-textarea"
                cols="30"
                rows="10"
                placeholder=" "
                required="required"
              ></textarea>
              <label
                class="custom__label custom__label_modal"
                for="modal-textarea"
                >ваш вопрос</label
              >
            </div>

            <div class="checkbox-wrapper field">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  name="color-1"
                  value="indigo"
                  required="required"
                />
                <p>
                  <span>Согласен на обработку</span>
                  <a href="">персональных&#160;данных</a>
                </p>
              </label>
            </div>
          </fieldset>

          <div class="button-wrapper aside-modal__buton-wrapper">
            <button class="button button_inverse button_aside" type="submit">
              жду звонка
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-inner-wrap modal-call" id="modal-call">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="aside-modal__header">
          <h3 class="aside-modal__title">У вас есть вопросы?</h3>
          <p class="aside-modal__subtitle">
            Оставьте номер телефона, мы перезвоним вам в ближайшее время
          </p>
        </header>

        <form action="" class="form aside-modal__form" id="modal-call-form">
          <div class="input-wrapper field">
            <input
              type="text"
              required="required"
              data-validate-length-range="2,16"
              maxlength="16"
              class="input"
              name="name"
              placeholder=" "
            />
            <label class="custom__label custom__label_modal" for="name"
              >имя</label
            >
          </div>

          <div class="input-wrapper field">
            <input
              type="tel"
              required="required"
              maxlength="16"
              data-validate-length-range="2,16"
              class="input"
              name="phone"
              placeholder=" "
            />
            <label class="custom__label custom__label_modal" for="name"
              >телефон*</label
            >
          </div>

          <div class="checkbox-wrapper field">
            <label class="custom-checkbox">
              <input
                type="checkbox"
                name="color-1"
                value="indigo"
                required="required"
              />
              <p>
                <span>Согласен на обработку</span>
                <a href="">персональных&#160;данных</a>
              </p>
            </label>
          </div>

          <div class="button-wrapper aside-modal__buton-wrapper">
            <button class="button button_inverse button_aside" type="submit">
              жду звонка
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-inner-wrap modal-city" id="modal-city">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="aside-modal__header">
          <h3 class="aside-modal__title">Выберите город</h3>
          <p class="aside-modal__subtitle aside-modal__subtitle_city">
            Санкт-Петербург, Россия
          </p>
        </header>

        <form action="" class="form aside-modal__form aside-modal__form_city">
          <div class="input-wrapper">
            <input
              id="cities-filter"
              type="text"
              maxlength="16"
              class="input"
              name="name"
              placeholder=" "
            />
            <label class="custom__label" for="name">город</label>
          </div>
        </form>

        <ul class="modal-city__list">
          <li class="modal-city__item modal-city__item_important">
            <a href="" class="modal-city__short-title">Санкт-Петербург</a>
            <a href="" class="modal-city__full-title"
              >Санкт-Петербург, Россия</a
            >
          </li>
          <li class="modal-city__item modal-city__item_important">
            <a href="" class="modal-city__short-title">Москва</a>
            <a href="" class="modal-city__full-title">Москва, Россия</a>
          </li>
          <li class="modal-city__item modal-city__item_important">
            <a href="" class="modal-city__short-title">Великий Новгород</a>
            <a href="" class="modal-city__full-title"
              >Великий Новгород, Россия</a
            >
          </li>
          <li class="modal-city__item modal-city__item_important">
            <a href="" class="modal-city__short-title">Тюмень</a>
            <a href="" class="modal-city__full-title">Тюмень, Россия</a>
          </li>
          <li class="modal-city__item modal-city__item_important">
            <a href="" class="modal-city__short-title">Петрозаводск</a>
            <a href="" class="modal-city__full-title">Петрозаводск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Волгоград</a>
            <a href="" class="modal-city__full-title">Волгоград, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Благовещенск</a>
            <a href="" class="modal-city__full-title">Благовещенск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Брянск</a>
            <a href="" class="modal-city__full-title">Брянск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Владивосток</a>
            <a href="" class="modal-city__full-title">Владивосток, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Волгоград</a>
            <a href="" class="modal-city__full-title">Волгоград, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Вологда</a>
            <a href="" class="modal-city__full-title">Вологда, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Казань</a>
            <a href="" class="modal-city__full-title">Казань, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Калуга</a>
            <a href="" class="modal-city__full-title">Калуга, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Курск</a>
            <a href="" class="modal-city__full-title">Курск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Липецк</a>
            <a href="" class="modal-city__full-title">Липецк, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Махачкала</a>
            <a href="" class="modal-city__full-title">Махачкала, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Нальчик</a>
            <a href="" class="modal-city__full-title">Нальчик, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Нижний Новгород</a>
            <a href="" class="modal-city__full-title"
              >Нижний Новгород, Россия</a
            >
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Новосибирск</a>
            <a href="" class="modal-city__full-title">Новосибирск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Псков</a>
            <a href="" class="modal-city__full-title">Псков, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Ростов-на-Дону</a>
            <a href="" class="modal-city__full-title">Ростов-на-Дону, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Рязань</a>
            <a href="" class="modal-city__full-title">Рязань, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Самара</a>
            <a href="" class="modal-city__full-title">Самара, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Саратов</a>
            <a href="" class="modal-city__full-title">Саратов, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Северодвинск</a>
            <a href="" class="modal-city__full-title">Северодвинск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Смоленск</a>
            <a href="" class="modal-city__full-title">Смоленск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Ставрополь</a>
            <a href="" class="modal-city__full-title">Ставрополь, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Сыктывкар</a>
            <a href="" class="modal-city__full-title">Сыктывкар, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Хабаровск</a>
            <a href="" class="modal-city__full-title">Хабаровск, Россия</a>
          </li>
          <li class="modal-city__item">
            <a href="" class="modal-city__short-title">Чебоксары</a>
            <a href="" class="modal-city__full-title">Чебоксары, Россия</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-inner-wrap modal-aside-success" id="modal-aside-success">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="aside-modal__header">
          <h3 class="aside-modal__title">Ваша заявка успешно отправлена</h3>
        </header>

        <p>Мы перезвоним вам в ближайшее время</p>
      </div>
    </div>
  </div>
</aside>
