<!-- <div class="bottom-modal">
  <div class="modal-inner-wrap modal-city" id="modal-city_mobile">
    <div class="vertical-content__content">
      <div class="vertical-content__body">
        <header class="bottom-modal__header">
          <h3 class="bottom-modal__title">Выберите город</h3>
          <a class="bottom-modal__close">закрыть</a>
        </header>
        <p class="bottom-modal__chosen">Петрозаводск</p>
        <form action="" class="form bottom-modal__form">
          <div class="input-wrapper">
            <input
              type="tel"
              maxlength="16"
              class="input custom__input_bottom-modal"
              name="name"
              placeholder=" "
            />
            <label class="custom__label custom__label_bottom-modal" for="name"
              >имя</label
            >
          </div>
        </form>

        <div class="bottom-modal__cities">
          <span class="bottom-modal__city bottom-modal__city_popular"
            >Санкт-Петербург</span
          >
          <span class="bottom-modal__city bottom-modal__city_popular"
            >Москва</span
          >
          <span class="bottom-modal__city bottom-modal__city_popular"
            >Великий Новгород</span
          >
          <span class="bottom-modal__city bottom-modal__city_popular"
            >Тюмень</span
          >
          <span class="bottom-modal__city bottom-modal__city_popular"
            >Петрозаводск</span
          >
          <span class="bottom-modal__city">Волгоград</span>
          <span class="bottom-modal__city">Благовещенск</span>
          <span class="bottom-modal__city">Брянск</span>
          <span class="bottom-modal__city">Владивосток</span>
          <span class="bottom-modal__city">Волгоград</span>
          <span class="bottom-modal__city">Вологда</span>
          <span class="bottom-modal__city">Казань</span>
          <span class="bottom-modal__city">Калуга</span>
          <span class="bottom-modal__city">Курск</span>
          <span class="bottom-modal__city">Липецк</span>
          <span class="bottom-modal__city">Махачкала</span>
          <span class="bottom-modal__city">Нальчик</span>
          <span class="bottom-modal__city">Нижний Новгород</span>
          <span class="bottom-modal__city">Новосибирск</span>
          <span class="bottom-modal__city">Псков</span>
          <span class="bottom-modal__city">Ростов-на-Дону</span>
          <span class="bottom-modal__city">Рязань</span>
          <span class="bottom-modal__city">Самара</span>
          <span class="bottom-modal__city">Саратов</span>
          <span class="bottom-modal__city">Северодвинск</span>
          <span class="bottom-modal__city">Смоленск</span>
          <span class="bottom-modal__city">Ставрополь</span>
          <span class="bottom-modal__city">Сыктывкар</span>
          <span class="bottom-modal__city">Хабаровск</span>
          <span class="bottom-modal__city">Чебоксары</span>
          <span class="bottom-modal__city">Челябинск</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
