<article class="brands">
  <div class="container">
    <div class="title-box">
      <h2 class="title">бренды</h2>
      <a class="watch-link" href="">посмотреть<br>все</a>
    </div>
  </div>
  <div class="brands-wrapper">
    <div class="container">
      <div class="brands-carousel">
        <div class="brands-carousel__item">
          <img src="assets/img/brands/bernina.svg" alt="bernina">
        </div>
        <div class="brands-carousel__item">
          <img src="assets/img/brands/brother.svg" alt="brother">
        </div>
        <div class="brands-carousel__item">
          <img src="assets/img/brands/lelit.svg" alt="lelit">
        </div>
      </div>
    </div>
  </div>
</article>