<article class="brands">
  <div class="container brands_container">
    <div class="title-box title-box_brands">
      <h2 class="title">бренды</h2>
      <a class="watch-link" href="">посмотреть<br>все</a>
    </div>
    <div class="brands-wrapper">
      <div class="container brands-wrapper__container">
        <div class="brands-carousel">
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
          <div class="brands-carousel__item">
            <img src="assets/img/brands/flaticon.svg" alt="flaticon">
          </div>
        </div>
      </div>
    </div>
  </div>
</article>