<article class="catalog-text">
  <div class="container catalog-text__container">
    <div class="catalog-text__content">
      <h2 class="title">вышивальные машины в&nbsp;магазине «мир шитья»</h2>
      <p>
        Инструменты, представленные в каталоге компании «Мир Шитья», необходимы
        для ежедневной работы на швейном производстве независимо от его
        величины. Предлагаем качественные принадлежности для ателье, мастерских
        и фабрик. Поставляем аксессуары для шитья в любом объеме по всей
        России.<br /><br />
        В ассортименте интернет-магазина – более 500 наименований. Швейные
        инструменты облегчают труд швеи, позволяют быстро и точно раскраивать
        различные материалы: от шелка до кожи.
      </p>
      <br />
      <br />
      <p><b>У нас вы можете купить:</b></p>
      <ul>
        <li>
          Булавки: заколочные и английские. В продаже есть особо тонкие булавки,
          не оставляющие следов на деликатных тканях.
        </li>
        <li>
          Бумагу для выкроек в рулонах различной ширины, картон для лекал и сами
          лекала.
        </li>
        <li>Зажимы для ткани, используемые для ее фиксации при раскрое.</li>
        <li>
          Иглы для шитья вручную, в том числе, пластиковые для работы с пряжей
        </li>
        <li>
          Портновские колодки для утюжки сложных элементов изделий: плеч,
          рукавов, штанин.
        </li>
        <li>
          Различные органайзеры, коробки и шкатулки для хранения игл, шпулек,
          фурнитуры
        </li>
        <li>
          Манекены: твердые, полутвердые и мягкие, женские и мужские,
          портновские и торговые, в различных цветах и размерах
        </li>
        <li>
          Мел, маркеры, ножи, ножницы, рулетки, распарыватели и многое другое
        </li>
        <li>
          Вы легко найдете нужную вещь: просто выберите требуемый раздел в
          каталоге или воспользуйтесь поиском по сайту.
        </li>
      </ul>
      <br />
      <p>
        Для постоянных и оптовых покупателей снижаем цены за счет выгодной
        системы скидок. Покупайте принадлежности в компании «Мир Шитья» и
        работайте с удовольствием!
      </p>
    </div>

    <div class="catalog-text__pic">
      <div class="pic">
        <picture>
          <source
            srcset="assets/img/articles/article-4.webp"
            type="image/webp"
          />
          <img
            class="lazyload"
            src="assets/img/articles/article-4.jpg"
            alt="device"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </picture>
      </div>
      <div class="catalog-text__pic_small">
        <picture>
          <source
            srcset="assets/img/articles/article-4.webp"
            type="image/webp"
          />
          <img
            class="lazyload"
            src="assets/img/articles/article-4.jpg"
            alt="device"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </picture>
      </div>
    </div>
  </div>
</article>
