<article class="categories">
  <div class="container">
    <div class="categories-list">
      <a href="" class="categories-item" style="background-color: #edfafc">
        <div class="label categories__label">Швейные машины</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-1.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-1.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a href="" class="categories-item" style="background-color: #edf0fc">
        <div class="label categories__label">вышивальные машины</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-2.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-2.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a href="" class="categories-item" style="background-color: #fcf4f4">
        <div class="label categories__label">Оверлоки</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-3.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-3.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a href="" class="categories-item" style="background-color: #f7fefa">
        <div class="label categories__label">Ткани</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-4.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-4.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a href="" class="categories-item" style="background-color: #f7fefa">
        <div class="label categories__label">Лапки</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-5.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-5.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a href="" class="categories-item" style="background-color: #fef7ec">
        <div class="label categories__label">Иглы</div>
        <div class="pic categories__pic">
          <picture>
            <source
              srcset="assets/img/categories/category-6.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/category-6.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a
        href=""
        class="categories-item"
        style="background-color: rgb(109, 109, 153)"
      >
        <div class="label categories__label">все категории</div>
        <div class="pic categories__pic categories__pic_cover">
          <picture>
            <source
              srcset="assets/img/categories/all-bg.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/categories/all-bg.jpg"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
    </div>
  </div>
</article>
