<article class="categories">
  <div class="container">
    <div class="categories-list">
      <div class="categories-item" style="background-color: #EDFAFC;">
        <div class="label categories__label">Швейные машины</div>
        <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-1.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-1.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: #EDF0FC;">
        <div class="label categories__label">вышивальные машины</div>
        <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-2.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-2.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: #FCF4F4;">
        <div class="label categories__label">Оверлоки</div>
                <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-3.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-3.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: #F7FEFA;">
        <div class="label categories__label">Ткани</div>
                <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-4.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-4.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: #F7FEFA;">
        <div class="label categories__label">Лапки</div>
                <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-5.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-5.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: #FEF7EC;">
        <div class="label categories__label">Иглы</div>
                <div class="pic categories__pic">
          <picture>
            <source srcset="assets/img/categories/category-6.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/category-6.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
      <div class="categories-item" style="background-color: rgb(109, 109, 153);">
        <div class="label categories__label">все категории</div>
        <div class="pic categories__pic categories__pic_cover">
          <picture>
            <source srcset="assets/img/categories/all-bg.webp"
              type="image/webp">
            <img class="lazyload" src="assets/img/categories/all-bg.jpg"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
    </div>
  </div>
</article>