<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-2" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-2-title"
      aria-describedby="modal-2-content"
    >
      <div role="document">
        <header class="modal__header">
          <button
            class="modal__close"
            aria-label="Close modal"
            aria-controls="modal__container1"
            data-micromodal-close
          ></button>
        </header>
        <main class="modal__content" id="modal-2-content">
          <form action="" class="form-city">
            <div class="additional-city-search-block">
              <div class="current_region">
                <h2 class="current_city">Санкт-Петербург</h2>
              </div>
            </div>

            <ul>
              <li>
                <a href="" title="Санкт-Петербург">
                  <span>Санкт-Петербург</span>
                </a>
              </li>
              <li>
                <a href="" title="Москва">
                  <span>Москва</span>
                </a>
              </li>
              <li>
                <a href="" title="Великий Новгород">
                  <span>Великий Новгород</span>
                </a>
              </li>
              <li>
                <a href="" title="Тюмень">
                  <span>Тюмень</span>
                </a>
              </li>
              <li>
                <a href="" title="Петрозаводск">
                  <span>Петрозаводск</span>
                </a>
              </li>
              <li>
                <a href="" title="Благовещенск">
                  <span>Благовещенск</span>
                </a>
              </li>
              <li>
                <a href="" title="Брянск"><span>Брянск</span> </a>
              </li>
              <li>
                <a href="" title="Владивосток">
                  <span>Владивосток</span>
                </a>
              </li>
              <li>
                <a href="" title="Волгоград"><span>Волгоград</span></a>
              </li>
              <li>
                <a href="" title="Вологда"><span>Вологда</span></a>
              </li>
              <li>
                <a href="" title="Казань"><span>Казань</span></a>
              </li>
              <li>
                <a href="" title="Калуга"><span>Калуга</span></a>
              </li>
              <li>
                <a href="" title="Курск"><span>Курск</span></a>
              </li>
              <li>
                <a href="" title="Липецк"><span>Липецк</span></a>
              </li>
              <li>
                <a href="" title="Махачкала"><span>Махачкала</span></a>
              </li>
              <li>
                <a href="" title="Нальчик"><span>Нальчик</span></a>
              </li>
              <li>
                <a href="" title="Нижний Новгород">
                  <span>Нижний Новгород</span>
                </a>
              </li>
              <li>
                <a href="" title="Новосибирск">
                  <span>Новосибирск</span>
                </a>
              </li>
              <li>
                <a href="" title="Псков">
                  <span>Псков</span>
                </a>
              </li>
              <li>
                <a href="" title="Ростов-на-Дону">
                  <span>Ростов-на-Дону</span>
                </a>
              </li>
              <li>
                <a href="" title="Рязань">
                  <span>Рязань</span>
                </a>
              </li>
              <li>
                <a href="" title="Самара">
                  <span>Самара</span>
                </a>
              </li>
              <li>
                <a href="" title="Саратов">
                  <span>Саратов</span>
                </a>
              </li>
              <li>
                <a href="" title="Северодвинск">
                  <span>Северодвинск</span>
                </a>
              </li>
              <li>
                <a href="" title="Смоленск">
                  <span>Смоленск</span>
                </a>
              </li>
              <li>
                <a href="" title="Ставрополь">
                  <span>Ставрополь</span>
                </a>
              </li>
              <li>
                <a href="" title="Сыктывкар">
                  <span>Сыктывкар</span>
                </a>
              </li>
              <li>
                <a href="" title="Хабаровск">
                  <span>Хабаровск</span>
                </a>
              </li>
              <li>
                <a href="" title="Чебоксары">
                  <span>Чебоксары</span>
                </a>
              </li>
              <li>
                <a href="" title="Челябинск">
                  <span>Челябинск</span>
                </a>
              </li>
            </ul>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>
