<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-2" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-2-title"
      aria-describedby="modal-2-content"
    >
      <div role="document">
        <header class="modal__header">
          <button
            class="modal__close"
            aria-label="Close modal"
            aria-controls="modal__container1"
            data-micromodal-close
          ></button>
        </header>
        <main class="modal__content" id="modal-2-content">
          <form action="" class="form-city">
            <div class="additional-city-search-block">
              <h2 class="current_region">
                <span>Ярославль</span><span>Ярославская область, Россия</span>
              </h2>

              <div id="sls-46624">
                <div class="dropdown-block bx-ui-sls-input-block">
                  <span class="dropdown-icon"></span>
                  <input
                    type="text"
                    autocomplete="off"
                    name="LOCATION"
                    value=""
                    class="dropdown-field"
                    placeholder="Введите название вашего города ..."
                    style="display: none"
                  />
                  <div class="bx-ui-sls-container">
                    <input
                      type="text"
                      autocomplete="off"
                      value=""
                      class="bx-ui-sls-fake"
                      placeholder="Введите название вашего города ..."
                    />
                  </div>

                  <div class="dropdown-fade2white"></div>
                  <div class="bx-ui-sls-loader"></div>
                  <div
                    class="bx-ui-sls-clear"
                    title="Отменить выбор"
                    style="display: none"
                  ></div>
                  <div
                    class="bx-ui-sls-pane"
                    style="overflow: hidden auto; display: none; bottom: auto"
                  >
                    <div class="bx-ui-sls-variants">
                      <div
                        class="
                          dropdown-item
                          bx-ui-sls-variant bx-ui-sls-variant-active
                        "
                      >
                        <span class="dropdown-item-text"
                          ><span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Колпино, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Зеленогорск, <span>Сан</span>кт-Петербург,
                          Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Петергоф, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Сестрорецк, <span>Сан</span>кт-Петербург,
                          Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Кронштадт, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Ломоносов, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Пушкин, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Павловск, <span>Сан</span>кт-Петербург, Россия</span
                        >
                      </div>
                      <div class="dropdown-item bx-ui-sls-variant">
                        <span class="dropdown-item-text"
                          >Красное Село, <span>Сан</span>кт-Петербург,
                          Россия</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="bx-ui-sls-error-message"
                  style="display: none"
                ></div>
              </div>
            </div>

            <ul>
              <li>
                <a title="Санкт-Петербург" data-region="0000103664">
                  <span>Санкт-Петербург</span>
                </a>
              </li>
              <li>
                <a title="Москва" data-region="0000073738">
                  <span>Москва</span>
                </a>
              </li>
              <li>
                <a title="Великий Новгород" data-region="0000377795">
                  <span>Великий Новгород</span>
                </a>
              </li>
              <li>
                <a title="Тюмень" data-region="0000794760">
                  <span>Тюмень</span>
                </a>
              </li>
              <li>
                <a title="Петрозаводск" data-region="0000330194">
                  <span>Петрозаводск</span>
                </a>
              </li>
              <li>
                <a title="Благовещенск" data-region="0001038676">
                  Благовещенск
                </a>
              </li>
              <li>
                <a title="Брянск" data-region="0000278519"> Брянск </a>
              </li>
              <li>
                <a title="Владивосток" data-region="0001058581">
                  Владивосток
                </a>
              </li>
              <li>
                <a title="Волгоград" data-region="0000426112"> Волгоград </a>
              </li>
              <li>
                <a title="Вологда" data-region="0000336617"> Вологда </a>
              </li>
              <li>
                <a title="Казань" data-region="0000550426"> Казань </a>
              </li>
              <li>
                <a title="Калуга" data-region="0000147475"> Калуга </a>
              </li>
              <li>
                <a title="Курск" data-region="0000168097"> Курск </a>
              </li>
              <li>
                <a title="Липецк" data-region="0000177609"> Липецк </a>
              </li>
              <li>
                <a title="Махачкала" data-region="0000495241"> Махачкала </a>
              </li>
              <li>
                <a title="Нальчик" data-region="0000503664"> Нальчик </a>
              </li>
              <li>
                <a title="Нижний Новгород" data-region="0000600317">
                  Нижний Новгород
                </a>
              </li>
              <li>
                <a title="Новосибирск" data-region="0000949228">
                  Новосибирск
                </a>
              </li>
              <li>
                <a title="Псков" data-region="0000362683"> Псков </a>
              </li>
              <li>
                <a title="Ростов-на-Дону" data-region="0000445112">
                  Ростов-на-Дону
                </a>
              </li>
              <li>
                <a title="Рязань" data-region="0000197740"> Рязань </a>
              </li>
              <li>
                <a title="Самара" data-region="0000650509"> Самара </a>
              </li>
              <li>
                <a title="Саратов" data-region="0000776525"> Саратов </a>
              </li>
              <li>
                <a title="Северодвинск" data-region="0000110182">
                  Северодвинск
                </a>
              </li>
              <li>
                <a title="Смоленск" data-region="0000207393"> Смоленск </a>
              </li>
              <li>
                <a title="Ставрополь" data-region="0000509929"> Ставрополь </a>
              </li>
              <li>
                <a title="Сыктывкар" data-region="0000324400"> Сыктывкар </a>
              </li>
              <li>
                <a title="Хабаровск" data-region="0001029043"> Хабаровск </a>
              </li>
              <li>
                <a title="Чебоксары" data-region="0000638402"> Чебоксары </a>
              </li>
              <li>
                <a title="Челябинск" data-region="0000854968"> Челябинск </a>
              </li>
            </ul>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>
