<article class="consult">
  <div class="container consult__container">
    <div class="consult-header">
      <h2 class="title consult__title">нужна консультация?</h2>
      <p class="text">Мы готовы ответить на любой вопрос по нашему ассортименту, доставке или наличию товара</p>
    </div>
    <div class="consult-form">
      <form action="" class="form">
        <div class="input-wrapper">
          <input type="text" class="input consult__input" placeholder="имя">
        </div>
        <div class="input-wrapper">
          <input type="text" class="input consult__input" placeholder="Телефон">
        </div>
        <div class="input-wrapper">
          <input type="text" class="input consult__input" placeholder="Ваше сообщение">
        </div>
        <div class="checkbox-wrapper">
          <label class="custom-checkbox">
            <input type="checkbox" name="color-1" value="indigo">
            <p><span>Согласен на обработку</span> <a href="">персональных&#160;данных</a></p>
          </label>
        </div>
      
        <div class="input-wrapper">
          <input type="submit" class="button button_inverse consult_button" placeholder="отправить">
        </div>
      </form>
    </div>
  </div>
</article>