<article class="consult">
  <div class="container consult__container">
    <div class="consult-header">
      <h2 class="title consult__title">нужна консультация?</h2>
      <p class="text consult_subtitle">
        Мы готовы ответить на любой вопрос по нашему ассортименту, доставке или
        наличию товара
      </p>
    </div>
    <div class="consult-form">
      <form action="" class="form" id="consult-form" novalidate>
        <fieldset>
          <div class="input-wrapper field">
            <input
              type="text"
              maxlength="20"
              data-validate-length-range="2,20"
              class="input consult__input"
              required="required"
              name="name"
              placeholder=" "
            />
            <label class="custom__label" for="name">Имя</label>
          </div>

          <div class="input-wrapper field">
            <input
              type="tel"
              name="phone"
              maxlength="16"
              class="input consult__input tel"
              placeholder=" "
              required="required"
              data-validate-length-range="8,16"
            />
            <label class="custom__label" for="phone">Телефон</label>
          </div>

          <div class="input-wrapper field">
            <input
              type="text"
              name="message"
              class="input consult__input"
              placeholder=" "
              required="required"
              data-validate-length-range="2"
            />
            <label class="custom__label" for="message">Ваше сообщение</label>
          </div>

          <div class="checkbox-wrapper field">
            <label class="custom-checkbox">
              <input
                required="required"
                type="checkbox"
                name="color-1"
                value="indigo"
              />
              <p>
                <span>Согласен на обработку</span>
                <a href="">персональных&#160;данных</a>
              </p>
            </label>
          </div>
        </fieldset>

        <div class="input-wrapper field">
          <input
            type="submit"
            class="button button_inverse consult_button"
            placeholder="отправить"
          />
        </div>
      </form>
    </div>
  </div>
</article>
