<article class="consult">
  <div class="container consult__container">
    <div class="consult-header">
      <h2 class="title">нужна консультация?</h2>
      <p class="text">Мы готовы ответить на любой вопрос по нашему ассортименту, доставке или наличию товара</p>
    </div>
    <div class="consult-form">
      <form action="" class="form">
        <div class="input-wrapper">
          <input type="text" class="input" placeholder="имя">
        </div>
        <div class="input-wrapper">
          <input type="text" class="input" placeholder="Телефон">
        </div>
        <div class="input-wrapper">
          <input type="text" class="input" placeholder="Ваше сообщение">
        </div>
        <div class="checkbox-wrapper">
          <input type="checkbox" class="checkbox" id="data">
          <label for="data">Согласен на обработку <a href="">персональных данных</a></label>
        </div>
        <div class="input-wrapper">
          <input type="submit" class="button button_inverse" placeholder="отправить">
        </div>
      </form>
    </div>
  </div>
</article>