<article class="first-screen">
  <div class="first-screen__content">
    <div class="container">
      <span class="visible__md">Посмотреть видео</span>
      <h1 class="title">Студия дизайна<br>и отделки</h1>
      <ul class='list'>
        <li class="list__item">&#8226; Создаем проекты любой сложности и&#160;на
          любой бюджет</li>
        <li class="list__item">&#8226; Полный комплекс услуг — от дизайна до
          реализации </li>
        <li class="list__item">&#8226; 100% реализуемые дизайн&#8209;проекты
        </li>
      </ul>
      <div class="button-block">
        <button class="button">Бесплатная консультация</button>
      </div>
    </div>

    <div class="container container--socials">
      {{> socials }}
    </div>

  </div>
  <picture>
    <source media="(min-width: 1280px)"
      srcset="assets/img/index/first-screen-desktop.webp" type="image/webp">
    <source media="(min-width: 1280px)"
      srcset="assets/img/index/first-screen-desktop.jpg">
    <source media="(min-width: 500px)"
      srcset="assets/img/index/first-screen-tablet.webp" type="image/webp">
    <source media="(min-width: 500px)"
      srcset="assets/img/index/first-screen-tablet.jpg">
    <source srcset="assets/img/index/first-screen-mobile.webp"
      type="image/webp">
    <img class="lazyload" src="assets/img/index/first-screen-mobile.jpg"
      alt="first-screen" loading="lazy" width="100%" height="100%">
  </picture>
</article>