<article class="first-screen">
  <div class="container first-screen__container">
    <div class="promos">
      <div class="promo">
        <div class="promo-content">
          <div class="promo-logo">
            <img
              src="assets/img/promos/promo-1-logo.svg"
              alt="promo"
              width="100%"
              height="100%"
            />
          </div>
          <span class="promo-dates">С 15 июня по 15 июля</span>
          <h2 class="title promo-title">испытай все возможности оверлока</h2>
          <div class="promo-descr">
            Скидка 10% и&#160;набор ниток в&#160;подарок к&#160;вышивальным
            машинам Brother
          </div>
          <div class="promo-button">
            <button class="button">показать все товары</button>
          </div>
        </div>
        <div class="promo-pics">
          <div class="promo-pic promo-pic_left-side">
            <picture>
              <source
                srcset="assets/img/promos/promo-1-1.webp"
                type="image/webp"
              />
              <img
                src="assets/img/promos/promo-1-1.png"
                alt="promo"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
          <div class="promo-pic promo-pic_right-side">
            <picture>
              <source
                srcset="assets/img/promos/promo-1-2.webp"
                type="image/webp"
              />
              <img
                src="assets/img/promos/promo-1-2.png"
                alt="promo"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="promo">
        <div class="promo-content">
          <div class="promo-logo">
            <img
              src="assets/img/promos/promo-1-logo.svg"
              alt="promo"
              width="100%"
              height="100%"
            />
          </div>
          <span class="promo-dates">С 15 июня по 15 июля</span>
          <h2 class="title promo-title">новый слайд 2</h2>
          <div class="promo-descr">Скидка 10% на машины Brother</div>
          <div class="promo-button">
            <button class="button">показать все товары</button>
          </div>
        </div>
        <div class="promo-pics">
          <div class="promo-pic promo-pic_left-side">
            <picture>
              <source
                srcset="assets/img/promos/promo-2-1.webp"
                type="image/webp"
              />
              <img
                src="assets/img/promos/promo-2-1.png"
                alt="promo"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
          <div class="promo-pic promo-pic_right-side">
            <picture>
              <source
                srcset="assets/img/promos/promo-2-2.webp"
                type="image/webp"
              />
              <img
                src="assets/img/promos/promo-2-2.png"
                alt="promo"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
