<footer class="footer">
  <div class="container">
    <div class="subscribe">
      <p class="subscribe__text">Подпишитесь на рассылку акций и новостей</p>
      <form action="" class="form form_subscribe">
        <div class="form_field">
          <input type="email" class="input" placeholder="Email">
        </div>
        <div class="form_field">
          <input type="submit" class="button button_inverse" placeholder="подписаться">
        </div>
      </form>
    </div>
    <div class="footer_contacts">
      <div class="media">
        <span class="icon icon_media">
          <svg>
            <use xlink:href="#instagram-media"></use>
          </svg>
        </span>
        <span class="icon icon_media">
          <svg>
            <use xlink:href="#facebook-media"></use>
          </svg>
        </span>
        <span class="icon icon_media">
          <svg>
            <use xlink:href="#ok-media"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="footer_catalog"></div>
    <div class="footer_sew_about"></div>
    <div class="footer_buy"></div>
  </div>
</footer>