<article class="gallery">
  <div class="container gallery__container">
    <div class="gallery-tabs">
      <div class="gallery-tab gallery-tab__active" data-gallery="gallery-hits">
        <h2 class="gallery-tab__title">хиты продаж</h2>
        <a href=""class="gallery-tab__link">все хиты продаж</a>
      </div>
      <div class="gallery-tab" data-gallery="gallery-new">
        <h2 class="gallery-tab__title">новинки</h2>
        <a href=""class="gallery-tab__link">все новинки</a>
      </div>
      <div class="gallery-tab" data-gallery="gallery-sell">
        <h2 class="gallery-tab__title">распродажа</h2>
        <a href=""class="gallery-tab__link">все товары</a>
      </div>
    </div>
    <div class="gallery-section" id="gallery-hits">
      <h2 class="gallery-title hidden__sm">хиты продаж</h2>
      <a href="" class="gallery-subtitle hidden__sm">все хиты продаж</a>
      <div class="gallery-list" data-flickity='{
        "pageDots": false, 
        "watchCSS": true, 
        "wrapAround": true, 
        "cellAlign": "left",
        "contain": true, 
        "arrowShape": "M0 50.3489C0 50.4822 0.0596932 50.5823 0.179077 50.6656L13.0924 61.5683C13.1919 61.6516 13.3113 61.7016 13.4705 61.7016C13.7888 61.7016 14.0077 61.5016 14.0077 61.2682C14.0077 61.1348 13.9679 61.0015 13.8684 60.9181L5.75033 54.1165L1.65147 50.7323L5.65084 50.7823H99.4827C99.7612 50.7823 100 50.5989 100 50.3489C100 50.0988 99.7612 49.8988 99.4827 49.8988H5.65084L1.65147 49.9488L5.75033 46.5813L13.8684 39.7629C13.9878 39.6796 14.0077 39.5629 14.0077 39.4295C14.0077 39.1961 13.7888 38.9961 13.4705 38.9961C13.3113 38.9961 13.1521 39.0294 12.8736 39.2795L0.179077 50.0154C0.0596932 50.1155 0 50.2155 0 50.3489Z"}'>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-section gallery-section__active" id="gallery-new">
      <h2 class="gallery-title hidden__sm">новинки</h2>
      <a href="" class="gallery-subtitle hidden__sm">все новинки</a>
      <div class="gallery-list" data-flickity='{
        "pageDots": false, 
        "watchCSS": true, 
        "wrapAround": true, 
        "cellAlign": "left",
        "contain": true, 
        "arrowShape": "M0 50.3489C0 50.4822 0.0596932 50.5823 0.179077 50.6656L13.0924 61.5683C13.1919 61.6516 13.3113 61.7016 13.4705 61.7016C13.7888 61.7016 14.0077 61.5016 14.0077 61.2682C14.0077 61.1348 13.9679 61.0015 13.8684 60.9181L5.75033 54.1165L1.65147 50.7323L5.65084 50.7823H99.4827C99.7612 50.7823 100 50.5989 100 50.3489C100 50.0988 99.7612 49.8988 99.4827 49.8988H5.65084L1.65147 49.9488L5.75033 46.5813L13.8684 39.7629C13.9878 39.6796 14.0077 39.5629 14.0077 39.4295C14.0077 39.1961 13.7888 38.9961 13.4705 38.9961C13.3113 38.9961 13.1521 39.0294 12.8736 39.2795L0.179077 50.0154C0.0596932 50.1155 0 50.2155 0 50.3489Z"}'>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина dsgsdg sdgsdgsd sdgsdgsd</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-section" id="gallery-sell">
      <h2 class="gallery-title hidden__sm">распродажа</h2>
      <a href="" class="gallery-subtitle hidden__sm">все товары</a>
      <div class="gallery-list" data-flickity='{
        "pageDots": false, 
        "watchCSS": true, 
        "wrapAround": true, 
        "cellAlign": "left",
        "contain": true, 
        "arrowShape": "M0 50.3489C0 50.4822 0.0596932 50.5823 0.179077 50.6656L13.0924 61.5683C13.1919 61.6516 13.3113 61.7016 13.4705 61.7016C13.7888 61.7016 14.0077 61.5016 14.0077 61.2682C14.0077 61.1348 13.9679 61.0015 13.8684 60.9181L5.75033 54.1165L1.65147 50.7323L5.65084 50.7823H99.4827C99.7612 50.7823 100 50.5989 100 50.3489C100 50.0988 99.7612 49.8988 99.4827 49.8988H5.65084L1.65147 49.9488L5.75033 46.5813L13.8684 39.7629C13.9878 39.6796 14.0077 39.5629 14.0077 39.4295C14.0077 39.1961 13.7888 38.9961 13.4705 38.9961C13.3113 38.9961 13.1521 39.0294 12.8736 39.2795L0.179077 50.0154C0.0596932 50.1155 0 50.2155 0 50.3489Z"}'>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина dsgsdg sdgsdgsd sdgsdgsd</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325 Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card gallery-card">
            <div class="card-header">
              <div class="card-labels">
                <div class="label">подарок</div>
                <div class="label">хит</div>
              </div>
              <div class="card-icons">
                <span class="card-icons__match"></span>
                <span class="card-icons__like"></span>
              </div>
            </div>
            <div class="card-pic">
              <a href="">
                <div class="pic">
                  <picture>
                    <source srcset="assets/img/goods/item-1.webp" type="image/webp">
                    <img class="lazyload" src="assets/img/goods/item-1.jpg" alt="item" loading="lazy" width="100%"
                      height="100%">
                  </picture>
                </div>
              </a>
            </div>
            <div class="card-availability"><span>в наличии</span></div>
            <div class="card-title">
              <a href="">Швейная машина Bernina 325</a>
            </div>
            <div class="card-price">
              <span class="card-price__current">90 000 ₽</span>
              <span class="card-price__old">98 890 ₽</span>
            </div>
            <div class="card-button">
              <a href="" class="button">в корзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>