<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible"
  content="ie=edge">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0">
<meta name="robots"
  content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection"
  content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- fonts -->
<link rel="preload"
  href="assets/fonts/rfdewi/RFDewiExtended-Light.woff2"
  as="font" type="font/woff2" crossorigin>
<link rel="preload"
  href="assets/fonts/rfdewi/RFDewiExtended-Regular.woff2"
  as="font" type="font/woff2" crossorigin>
<link rel="preload"
  href="assets/fonts/rfdewi/RFDewiExtended-Semibold.woff2"
  as="font" type="font/woff2" crossorigin>
  <link rel="preload"
  href="assets/fonts/rfdewi/RFDewiExtended-Bold.woff2"
  as="font" type="font/woff2" crossorigin>
<link rel="preload"
  href="assets/fonts/rfdewi/RFDewiExtended-Black.woff2"
  as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" href="assets/css/style.css">

<!-- favicons -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
<!-- <link rel="manifest" href="/manifest.json"> -->
<meta name="msapplication-TileColor"
  content="#ffffff">
<meta name="msapplication-TileImage"
  content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>{{ title }}</title>