<div class="header-catalog">
  <div class="header-catalog__overlay"></div>
  <div class="header-catalog__wrapper">
    <div class="container header-catalog__container">
      <div class="header-catalog__categories">
        <div class="header-catalog__popular-categories">
          <a
            class="header-catalog__category header-catalog__category_active"
            href=""
            data-target="#header-subcategory-1"
          >
            <span class="header-catalog__category-name">
              Швейное оборудование
            </span>
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-2"
          >
            <span class="header-catalog__category-name">
              Ткани и материалы
            </span>
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-3"
          >
            <span class="header-catalog__category-name">
              Аксессуары для шитья
            </span>
          </a>
        </div>
        <div class="header-catalog__common-categories">
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-4"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-5"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-6"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-7"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-8"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-9"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-10"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-11"
          >
            <span class="header-catalog__category-name"
              >Вышивальное оборудование</span
            >
          </a>
        </div>
        <div class="header-catalog__about-categories">
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-12"
          >
            <span class="header-catalog__category-name">Распродажа</span>
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-13"
          >
            <span class="header-catalog__category-name">Новинки</span>
          </a>
          <a
            class="header-catalog__category"
            href=""
            data-target="#header-subcategory-14"
          >
            <span class="header-catalog__category-name">Онлайн-курсы</span>
          </a>
        </div>
      </div>
      <div class="header-catalog__subcategories">
        <div
          id="header-subcategory-item-1"
          class="
            header-catalog__subcategories-item
            header-catalog__subcategories-item_active
          "
        >
          <h2 class="header-subcategories__title">Аксессуары для шитья</h2>
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для оверлоков и распошивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для оверлоков и распошивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategories-item-2"
          class="header-catalog__subcategories-item"
        ></div>
      </div>
    </div>
  </div>
</div>
