<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <span class="header-city visible__sm header__top_animated modal-request">
        <span class="header-city__icon">
          <svg>
            <use xlink:href="#location"></use>
          </svg>
        </span>
        <span class="header-city__text modal-request" data-modal="modal-call"
          >Санкт-Петербург</span
        >
      </span>
      <div class="header-logo header-logo_scrolled">
        <a href="" class="header-logo__link">{{> logo}}</a>
      </div>
      <a
        type="tel"
        href="tel:+78126556727"
        class="header-phone header__top_animated"
      >
        <span class="icon header-phone__icon hidden__sm">
          <svg>
            <use xlink:href="#phone"></use>
          </svg>
        </span>
        <span class="header-phone__number visible__sm">+7 (812) 655-67-27</span>
      </a>
      <span
        class="header-callback visible__md header__top_animated modal-request"
        data-modal="modal-call"
        >Обратный звонок</span
      >
      <span
        class="header-consult visible__md header__top_animated modal-request"
        data-modal="modal-question"
        >Нужна консультация</span
      >
      <div class="header-burger hidden__sm">
        <div class="burger hidden__sm">
          <ul class="buns">
            <li class="bun"></li>
            <li class="bun"></li>
          </ul>
          <span class="burger-title">меню</span>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__container">
      <div class="header-burger">
        <div class="burger visible__sm header__bottom_animated">
          <ul class="buns">
            <li class="bun"></li>
            <li class="bun"></li>
          </ul>
          <span class="burger-title hidden__md">меню</span>
          <span class="burger-title visible__md">каталог</span>
        </div>
      </div>
      <div class="header-menu visible__md">
        <a href="" class="header-menu__item"
          ><span class="header__bottom_animated">акции</span></a
        >
        <a href="" class="header-menu__item"
          ><span class="header__bottom_animated">trade-in</span></a
        >
        <a href="" class="header-menu__item"
          ><span class="header__bottom_animated">магазины</span></a
        >
        <a href="" class="header-menu__item"
          ><span class="header__bottom_animated">Как купить</span></a
        >
        <a href="" class="header-menu__item"
          ><span class="header__bottom_animated">обучение</span></a
        >
      </div>
      <div class="header-icons">
        <a href="" class="header-icons__item">
          <span class="icon icon_loupe header__bottom_animated">
            <svg>
              <use xlink:href="#loupe"></use>
            </svg>
          </span>
        </a>
        <a href="" class="header-icons__item">
          <span
            class="icon icon_chart header__bottom_animated"
            data-modal="modal-login"
          >
            <svg>
              <use xlink:href="#chart"></use>
            </svg>
          </span>
        </a>
        <a class="header-icons__item modal-request" data-modal="modal-login">
          <span class="icon icon_heart header__bottom_animated">
            <svg>
              <use xlink:href="#heart"></use>
            </svg>
          </span>
        </a>
        <a class="header-icons__item modal-request" data-modal="modal-login">
          <span class="icon icon_user header__bottom_animated">
            <svg>
              <use xlink:href="#user"></use>
            </svg>
          </span>
        </a>
        <a class="header-icons__item modal-request" data-modal="modal-login">
          <span class="icon icon_bucket header__bottom_animated">
            <svg>
              <use xlink:href="#bucket"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
