<div class="header-catalog">
  <div class="header-catalog__wrapper">
    <div class="container header-catalog__container">
      <div class="header-catalog__categories">
        <a
          class="header-catalog__category header-catalog__category_active"
          data-target="header-subcategory-1"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">
            Швейное оборудование
          </span>
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-2"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"> Ткани и материалы </span>
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-3"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">
            Аксессуары для шитья
          </span>
        </a>

        <a
          class="header-catalog__category"
          data-target="header-subcategory-4"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"
            >Вышивальное оборудование</span
          >
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-5"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"
            >Все для лоскутного шитья</span
          >
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-6"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Раскройные плоттеры</span>
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-7"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"
            >Гладильное оборудование</span
          >
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-8"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Манекены</span>
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-9"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Мебель для техники</span>
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-10"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"
            >Вязальное оборудование</span
          >
        </a>
        <a
          class="header-catalog__category"
          data-target="header-subcategory-11"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name"
            >Программное обеспечение</span
          >
        </a>

        <a
          class="header-catalog__category"
          href=""
          data-target="header-subcategory-12"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Распродажа</span>
        </a>
        <a
          class="header-catalog__category"
          href=""
          data-target="header-subcategory-13"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Новинки</span>
        </a>
        <a
          class="header-catalog__category"
          href=""
          data-target="header-subcategory-14"
          style="background-image: url('assets/img/icons/arrow-catalog.svg')"
        >
          <span class="header-catalog__category-name">Онлайн-курсы</span>
        </a>
      </div>
      <div class="header-catalog__subcategories">
        <div
          id="header-subcategory-1"
          class="
            header-catalog__subcategories-item
            header-catalog__subcategories-item_active
          "
        >
          <!-- <h2 class="header-subcategories__title">Швейное оборудование</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Швейные машины</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Принадлежности для швейных машин и оверлоков</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Коврики</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Лампочки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Масло</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мусоросборники</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Приставные столики</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Разное</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Ремни</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Ремонтные работы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Сумки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шпули</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Электроприводы</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Швейные машины б/у</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Оверлоки</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Распошивальные машины</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Машины для стежки и квилтрамы</a
                >
              </div>
            </div>
          </div>
          <div class="header-subcategories__banner">
            <div class="header-subcategories__pic">
              <picture>
                <source
                  srcset="assets/img/banners/banner-1.webp"
                  type="image/webp"
                />
                <img
                  src="assets/img/banners/banner-1.jpg"
                  alt="banner"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
            <div class="header-subcategories__label label">
              мини-баннер в каталоге
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-2"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Ткани и материалы</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Ткани</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Корк (пробковая ткань)</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Наполнители для пэчворка</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Флизелин</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для оверлоков и распошивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Стабилизаторы для вышивки</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Шевронная ткань</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-3"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Аксессуары для шитья</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Лапки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для оверлоков и распошивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мастер подбора лапок</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Нитки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для шитья</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для вышивания</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Специальные нитки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Наборы ниток</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Иглы</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Для швейных машин и оверлоков</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Ручные иглы</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Ножницы</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Портновские</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вышивальные</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Общего назначения</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Зигзаг</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Идеи подарков</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Подарочные наборы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Подарочные сертификаты</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Сувениры</span>
                </a>
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Резинка для масок</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Тесьма</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Клеевые материалы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Косая бейка</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Кружево</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Ленты</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Тесьма брючная</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Тесьма отделочная</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Тесьма шторная</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Тесьма эластичная</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шитье</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шнур, сутаж</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Молнии</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Рукоделие</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Наборы для шитья</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Аксессуары для бисера и бус</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Аксессуары для изготовления кукол</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Выкройки</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Журналы, книги</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Фурнитура</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Декоративные пуговицы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Кнопки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Крючки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Люверсы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Фурнитура для сумок</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Наашивки, аппликации, заплатки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Плечевые накладки, подмышечники</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Стопоры, наконечники, зажими</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Устройства для установки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Бельевая фурнитура</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вешалки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Манжеты</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Слайдеры, пуллеры для молнии</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шторная фурнитура</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Маркировочный инструмент</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Маркеры</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Карандаши</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Мел</span>
                </a>
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вспомогательные принадлежности</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Швейные наборы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Булавки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Наперстки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Пинцеты</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Игольницы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Нитевдеватели</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Сантиметровые ленты, рулетки</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Линейка, лекала</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вспарыватели</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Лупы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Контактная лента (липучка)</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Клеевая паутинка</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Калька</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Клей</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Разное</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Контейнеры и шкатулки</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Контейнеры</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шкатулки деревянные</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Шкатулки тканевые</span>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="header-subcategories__banner">
            <div class="header-subcategories__pic">
              <picture>
                <source
                  srcset="assets/img/banners/banner-1.webp"
                  type="image/webp"
                />
                <img
                  src="assets/img/banners/banner-1.jpg"
                  alt="banner"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
            <div class="header-subcategories__label label">
              мини-баннер в каталоге
            </div>
          </div> -->
        </div>
        <div
          id="header-subcategory-4"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Вышивальное оборудование</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные дизайны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для вышивальных машин</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Аксессуары для вышивальных машин</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Нитки для вышивания</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Иглы для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Пяльцы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Принадлежности для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вышивальные карты</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины б/у</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-5"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Все для лоскутного шитья</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Машины для стежки, квилт-рамы</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Принадлежности Handi Quilter</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Раскройные ножи, лезвия</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Коврики для раскроя</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Линейки, шаблоны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Трафареты</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для лоскутного шитья</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Перчатки для квилтинга</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вспомогательные принадлежности</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-6"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Раскройные плоттеры</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Плоттеры</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Принадлежности для плоттеров</a
                >
              </div>
            </div>
          </div>
          <div class="header-subcategories__banner">
            <div class="header-subcategories__pic">
              <picture>
                <source
                  srcset="assets/img/banners/banner-1.webp"
                  type="image/webp"
                />
                <img
                  src="assets/img/banners/banner-1.jpg"
                  alt="banner"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
            <div class="header-subcategories__label label">
              мини-баннер в каталоге
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-7"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Гладильное оборудование</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Парогенераторы</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Гладильные доски</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Гладильные столы</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Гладильные прессы</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Отпариватели</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Утюги и щетки</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для лоскутного шитья</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-8"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Вышивальное оборудование</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные дизайны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для вышивальных машин</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Аксессуары для вышивальных машин</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Нитки для вышивания</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Иглы для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Пяльцы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Принадлежности для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вышивальные карты</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины б/у</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-9"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Все для лоскутного шитья</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Машины для стежки, квилт-рамы</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Принадлежности Handi Quilter</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Раскройные ножи, лезвия</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Коврики для раскроя</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Линейки, шаблоны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Трафареты</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для лоскутного шитья</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Перчатки для квилтинга</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вспомогательные принадлежности</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-10"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Вышивальное оборудование</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные дизайны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для вышивальных машин</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Аксессуары для вышивальных машин</a
                >
                <a class="header-catalog__subcategory" href=""
                  ><span>Нитки для вышивания</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Иглы для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Пяльцы</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Принадлежности для вышивальных машин</span>
                </a>
                <a class="header-catalog__subcategory" href=""
                  ><span>Вышивальные карты</span>
                </a>
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вышивальные машины б/у</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          id="header-subcategory-11"
          class="header-catalog__subcategories-item"
        >
          <!-- <h2 class="header-subcategories__title">Все для лоскутного шитья</h2> -->
          <div class="header-subcategories__list">
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Машины для стежки, квилт-рамы</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Принадлежности Handi Quilter</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Раскройные ножи, лезвия</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Коврики для раскроя</a
                >
              </div>
            </div>
            <div class="header-subcategories__column">
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Линейки, шаблоны</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Трафареты</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >ПО для лоскутного шитья</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Перчатки для квилтинга</a
                >
              </div>
              <div class="header-catalog__subcategories-block">
                <a class="header-catalog__subcategories-block-title" href=""
                  >Вспомогательные принадлежности</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
