<article class="learning">
  <div class="container">
    <div class="learning__header">
      <h2 class="title learning_title">обучение</h2>
      <p class='learning__text'>После посещения наших курсов и&#160;мастер&#8209;классов Вы освоите навыки шитья
        и&#160;кроя,
        познакомитесь с&#160;десятками различных техник лоскутного шитья, научитесь художественно вышивать
        на&#160;швейно&#8209;вышивальной технике,
        освоите программное обеспечение для&#160;вышивки или&#160;вязания.</p>
      <div class="learning__categories">
        <div class="learning__category">
          <a class="text-link learning_link" href="">Мастер-классы</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Шитье кукол и сумок</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Шитье одежды</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Машинная вышивка и машинное вязание</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Лоскутное шитье и пэчворк</a>
        </div>
      </div>
      <div class="learning__buttons">
        <div class="button-wrapper">
          <button class="button">Все курсы</button>
        </div>
        <div class="button-wrapper">
          <button class="button button_inverse">Все партнеры</button>
        </div>
      </div>
    </div>
    <div class="courses">
      <div class="course course_1 data-hit='false' data-new='false'">
        <div class="course-header">
          <div class="course-label label">хит</div>
          <div class="course-label label">новинка</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="course course_2 data-hit='true' data-new='false'">
        <div class="course-header">
          <div class="course-label label">хит</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="course course_3 data-hit='true' data-new='true'">
        <div class="course-header">
          <div class="course-label label">хит</div>
          <div class="course-label label">новинка</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="course course_4 data-hit='false' data-new='false'">
        <div class="course-header"></div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>