<article class="learning">
  <div class="container learning_container">
    <div class="learning__header">
      <h2 class="title learning_title">обучение</h2>
      <p class="learning__text">
        После посещения наших курсов и&#160;мастер&#8209;классов Вы освоите
        навыки шитья и&#160;кроя, познакомитесь с&#160;десятками различных
        техник лоскутного шитья, научитесь художественно вышивать
        на&#160;швейно&#8209;вышивальной технике, освоите программное
        обеспечение для&#160;вышивки или&#160;вязания.
      </p>
      <div class="learning__categories">
        <div class="learning__category">
          <a class="text-link learning_link" href="">Мастер-классы</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Шитье кукол и сумок</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href="">Шитье одежды</a>
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href=""
            >Машинная вышивка и машинное вязание</a
          >
        </div>
        <div class="learning__category">
          <a class="text-link learning_link" href=""
            >Лоскутное шитье и пэчворк</a
          >
        </div>
      </div>
      <div class="learning__buttons">
        <div class="button-wrapper">
          <button class="button">Все курсы</button>
        </div>
        <div class="button-wrapper">
          <button class="button button_inverse">Все партнеры</button>
        </div>
      </div>
    </div>
    <div
      class="courses"
      data-flickity='{ 
        "pageDots": false, 
        "freeScroll": true, 
        "watchCSS": true, 
        "arrowShape": "M0 50.3489C0 50.4822 0.0596932 50.5823 0.179077 50.6656L13.0924 61.5683C13.1919 61.6516 13.3113 61.7016 13.4705 61.7016C13.7888 61.7016 14.0077 61.5016 14.0077 61.2682C14.0077 61.1348 13.9679 61.0015 13.8684 60.9181L5.75033 54.1165L1.65147 50.7323L5.65084 50.7823H99.4827C99.7612 50.7823 100 50.5989 100 50.3489C100 50.0988 99.7612 49.8988 99.4827 49.8988H5.65084L1.65147 49.9488L5.75033 46.5813L13.8684 39.7629C13.9878 39.6796 14.0077 39.5629 14.0077 39.4295C14.0077 39.1961 13.7888 38.9961 13.4705 38.9961C13.3113 38.9961 13.1521 39.0294 12.8736 39.2795L0.179077 50.0154C0.0596932 50.1155 0 50.2155 0 50.3489Z",
        "cellAlign": "left"}'
    >
      <a
        href=""
        class="course"
        data-hit="false"
        data-new="false"
        style="background-color: #fcf4f4"
      >
        <div class="course-header">
          <div class="course-label label">хит</div>
          <div class="course-label label">новинка</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
        <div class="pic course_pic">
          <picture>
            <source
              srcset="assets/img/courses/course-1.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/courses/course-1.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a
        href=""
        class="course course_animated"
        data-hit="true"
        data-new="false"
        style="background-color: #fafbfc"
      >
        <div class="course-header">
          <div class="course-label label">хит</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Сашико»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
        <div class="pic course_pic">
          <picture>
            <source
              srcset="assets/img/courses/course-2.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/courses/course-2.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a
        href=""
        class="course"
        data-hit="false"
        data-new="true"
        style="background-color: #edfcf3"
      >
        <div class="course-header">
          <div class="course-label label">хит</div>
          <div class="course-label label">новинка</div>
        </div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
        <div class="pic course_pic">
          <picture>
            <source
              srcset="assets/img/courses/course-3.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/courses/course-3.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
      <a
        href=""
        class="course course_animated"
        data-hit="false"
        data-new="false"
        style="background-color: #edfafc"
      >
        <div class="course-header"></div>
        <div class="course-info">
          <p class="course-title">Мини-курс «Рюкзак с&#160;аппликацией»</p>
          <p class="course-date">27 сентября</p>
          <div class="course-prices">
            <span class="course-price">15 000 ₽</span>
            <span class="course-price course-price_before">18 000 ₽</span>
          </div>
        </div>
        <div class="pic course_pic">
          <picture>
            <source
              srcset="assets/img/courses/course-1.webp"
              type="image/webp"
            />
            <img
              class="lazyload"
              src="assets/img/courses/course-1.png"
              alt="first-screen"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </a>
    </div>
  </div>
</article>
