<div class="media">
  <a class="media__link"
    href="https://www.facebook.com/%D0%A0%D0%92%D0%A2-%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-104280308522048"
    target="_blank">
    <svg class="" viewBox="0 0 100 100" width="100" height="100">
      <use xlink:href="#facebook"></use>
    </svg>
  </a>

  <a class="media__link"
    href="https://www.facebook.com/%D0%A0%D0%92%D0%A2-%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-104280308522048"
    target="_blank">
    <svg viewBox="0 0 511 511" width="511" height="511">
      <use xlink:href="#instagram"></use>
    </svg>
  </a>
</div>