<div class="media">
  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#instagram-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#facebook-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#ok-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#vk-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#whatsapp-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#youtube-media"></use>
      </svg>
    </span>
  </a>
</div>