<div class="media">

  <a class="media__link" href="https://instagram.com/mir_shitya" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#instagram-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.facebook.com/mirshitia" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#facebook-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://ok.ru/sew.world" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#ok-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://vk.com/sew_world" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#vk-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://wa.me/79668507155" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#whatsapp-media"></use>
      </svg>
    </span>
  </a>

  <a class="media__link" href="https://www.youtube.com/channel/UClK3KpxI0YtCliBxE5bXQqQ?sub_confirmation=1" target="_blank">
    <span class="icon icon_media">
      <svg>
        <use xlink:href="#youtube-media"></use>
      </svg>
    </span>
  </a>
  
</div>