<div class="mobile-catalog">
  <div class="mobile-catalog__header hidden__sm">
    <a class="modal-request" data-modal="modal-city">Санкт-Петербург</a>
    <a type="tel" href="+78126556727">+7 (812) 655-67-27</a>
  </div>
  <ul class="mobile-catalog__list">
    <li class="mobile-catalog__item mobile-catalog__item_accordion">
      <a class="mobile-catalog__item-link">Каталог</a>
      <ul class="mobile-catalog__accordion-content">
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="sew-stuff">Швейное оборудование</a>
          <ul id="sew-stuff" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Швейное оборудование</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >швейные машины</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >оверлоки</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >распошивальные машины
              </a>
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >машины для стежки и квилт-рамы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >принадлежности для швейных машин и оверлоков</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >швейные машины б/у</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="sew-machines">Вышивальное оборудование</a>
          <ul id="sew-machines" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Вышивальное оборудование</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Вышивальные машины</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для вышивальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Аксессуары для вышивальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ВЫШИВАЛЬНЫЕ МАШИНЫ Б/У</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="accessories">Аксессуары для шитья</a>
          <ul id="accessories" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Аксессуары для шитья</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Лапки</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Нитки</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Иглы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Ножницы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Идеи подарков</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Резинка для масок</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Тесьма</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Молнии</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Рукоделие</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Выкройки</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Журналы, книги</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="materials">Ткани и материалы</a>
          <ul id="materials" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Ткани и материалы</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Ткани</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Корк (пробковая ткань)</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Наполнители для пэчворка</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Флизелин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Стабилизаторы для вышивки</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Шевронная ткань</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="laskut-sew">Все для лоскутного шитья</a>
          <ul id="laskut-sew" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Все для лоскутного шитья</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Машины для стежки, квилт-рамы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Принадлежности Handi Quilter</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Раскройные ножи, лезвия</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Коврики для раскроя</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Линейки, шаблоны</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Трафареты</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для лоскутного шитья</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Перчатки для квилтинга</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Вспомогательные принадлежности</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="plottery">Раскройные плоттеры</a>
          <ul id="plottery" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Раскройные плоттеры</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Плоттеры</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Принадлежности для плоттеров</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="glad">Гладильное оборудование</a>
          <ul id="glad" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Гладильное оборудование</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Парогенераторы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Гладильные доски</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Гладильные столы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Гладильные прессы</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Отпариватели</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Аксессуары для гладильного оборудования</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Утюги и щетки</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="maneken">Манекены</a>
          <ul id="maneken" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Манекены</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Манекены раздвижные</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Манекены мягкие</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Принадлежности для манекенов</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="mebel">Мебель для техники</a>
          <ul id="mebel" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Мебель для техники</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Мебель для швейных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Мебель для вышивальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Мебель для вязальных машин</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="vyaz">Вязальное оборудование</a>
          <ul id="vyaz" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Вязальное оборудование</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Вязальные машины</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Кеттельные машины</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для вязальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >Аксессуары для вязания</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            mobile-catalog__accordion-item_ordinary
            mobile-catalog__accordion-item
          "
        >
          <a href="" data-list="po">Программное обеспечение</a>
          <ul id="po" class="mobile-catalog__accordion-inner-list">
            <li class="mobile-catalog__accordion-inner-item-title-field">
              <span class="mobile-catalog__accordion-inner-item-title-text"
                >Программное обеспечение</span
              >
              <span class="mobile-catalog__accordion-inner-item-back"
                >назад</span
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для вышивальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для вязальных машин</a
              >
            </li>
            <li class="mobile-catalog__accordion-inner-item">
              <a href="" class="mobile-catalog__accordion-inner-item-link"
                >ПО для лоскутного шитья</a
              >
            </li>
          </ul>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="">Распродажа</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="">Новинки</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="">Онлайн-курсы</a>
        </li>
      </ul>
    </li>
    <li class="mobile-catalog__item">
      <a class="mobile-catalog__item-link" href="">акции</a>
    </li>
    <li class="mobile-catalog__item">
      <a class="mobile-catalog__item-link" href="">trade-in</a>
    </li>
    <li class="mobile-catalog__item">
      <a class="mobile-catalog__item-link" href="">магазины</a>
    </li>
    <li class="mobile-catalog__item mobile-catalog__item_accordion">
      <a class="mobile-catalog__item-link">Как купить</a>
      <ul class="mobile-catalog__accordion-content">
        <li class="mobile-catalog__accordion-item">
          <a href="" data-list="sew-stuff">Оплата</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="" data-list="sew-stuff">Рассрочка и кредит</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="" data-list="sew-stuff">Обмен и возврат</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="" data-list="sew-stuff">Trade-in</a>
        </li>
        <li class="mobile-catalog__accordion-item">
          <a href="" data-list="sew-stuff">Доставка</a>
        </li>
      </ul>
    </li>
    <li class="mobile-catalog__item">
      <a class="mobile-catalog__item-link" href="">обучение</a>
    </li>
  </ul>
  <div class="mobile-catalog__footer">
    <span
      class="mobile-catalog__footer-item modal-request"
      data-modal="modal-call"
      >Обратный звонок</span
    >
    <span
      class="mobile-catalog__footer-item modal-request"
      data-modal="modal-question"
      >Нужна консультация</span
    >
  </div>
</div>
