<div class="mobile-catalog">
  <ul class="mobile-catalog__list">
    <li class="mobile-catalog__item">
      < >Каталог</span>
    </li>
    <li class="mobile-catalog__item">
      <a href="">акции</a>
    </li>
    <li class="mobile-catalog__item">
      <a href="">trade-in</a>
    </li>
    <li class="mobile-catalog__item">
      <a href="">магазины</a>
    </li>
    <li class="mobile-catalog__item">
      <a href="">Как купить</a>
    </li>
    <li class="mobile-catalog__item">
      <a href="">обучение</a>
    </li>
  </ul>
  <div class="mobile-catalog__footer">
    <span>Обратный звонок</span>
    <span>Нужна консультация</span>
  </div>
</div>
