<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Главная</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Услуги</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>О нас</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link"
        href="">
        <span>Портфолио</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Отзывы</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Контакты</span>
      </a>
    </li>
  </ul>
</nav>