<article class="our_team">
    <div class="container--flex">

        <div class="our_team__list_container">
            <h2 class="article_title  article_title--portfolio_preview">Наша команда</h2>

            <div class="team_list__box">
                <ul class="our_team__list">
                    <li class="transparented"></li>
                    <li class="our_team__item  our_team__item--current  our_team__item--margin">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера" >

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Татьяна Жарова</p>
                            <p class="item__designer_position">Руководитель отдела дизайна</p>
                        </div>
                    </li>

                    <li class="our_team__item">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера">

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Наталья Куковерова</p>
                            <p class="item__designer_position">Руководитель отдела дизайна</p>
                        </div>
                    </li>

                    <li class="our_team__item">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера">

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Остроумова Мария</p>
                            <p class="item__designer_position">Руководитель отдела дизайна</p>
                        </div>
                    </li>

                    <li class="our_team__item">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера">

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Елизарова Елена</p>
                            <p class="item__designer_position">Руководитель отдела дизайна</p>
                        </div>
                    </li>

                    <li class="our_team__item">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера">

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Елизарова Елена</p>
                            <p class="item__designer_position">Руководитель отдела дизайна</p>
                        </div>
                    </li>

                    <li class="our_team__item">
                        <img class="designer_photo" src="assets/img/comments/author_photo.png" alt="фотoграфия дизайнера">

                        <div class="item__designer_desc">
                            <p class="item__designer_name">Елизарова Елена</p>
                            <p class="item__designer_position">Дизайнер интерьера</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="our_team_arows">
                <button class="portfolio_preview_arrow  portfolio_preview_arrow--prev  our_team__arrow  our_team__arrow--prew" data-designersPrevArrow>
                    <img src="assets/img/portfolio_preview/arrow_to_left.svg" alt="prev">
                </button>
            
                <button class="portfolio_preview_arrow  our_team__arrow" data-designersNextArrow>
                    <img src="assets/img/portfolio_preview/arrow_to_left.svg" alt="next">
                </button>
            </div> 
            
        </div>

        <div class="designer_card__container">
            <div class="designer_cards__list">
                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Татьяна Жарова</p>
                            <p class="designer_position" data-designerPosition>Руководитель отдела дизайна</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
                        
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>
        
                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Наталья Куковерова</p>
                            <p class="designer_position" data-designerPosition>Руководитель отдела дизайна</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>
        
                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Остроумова Мария</p>
                            <p class="designer_position" data-designerPosition>Руководитель отдела дизайна</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>

                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Елизарова Елена</p>
                            <p class="designer_position" data-designerPosition>Руководитель отдела дизайна</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>
        
                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Елизарова Елена</p>
                            <p class="designer_position" data-designerPosition>Руководитель отдела дизайна</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>

                <div class="designer_card">
                    <div class="designer__img_container">
                        <img src="assets/img/designers_team/tatyana_jarova.png" alt="">
                    </div>
        
                    <div class="designer_card__text">
                        <div class="designer__slider_photo">
                            <img src="assets/img/about_us/our_team/photo_designer.png" alt="">
                        </div>

                        <div class="short_information">
                            <p class="designer_name" data-designerName>Елизарова Елена</p>
                            <p class="designer_position" data-designerPosition>Дизайнер интерьера</p>
            
                            <div class="designer_characteristics">
                                <p class="designer__education">высшее профильное образование</p>
                                <p class="designer__work_period">стаж работы 15 лет</p>
                                <p class="designer_achievements">500+ выполненных проектов</p>
                            </div>
                        </div>
        
                        <div class="hooks__box  designer_card__hooks"><img class="hooks" src="assets/img/about_us/main_text/hooks.png" alt=""></div>
        
                        <div class="designer__quote">
                            <p class="quote__two_mobile_hidden">Мы просыпаемся и готовим кофе, его упаковка это продукт творчества дизайнеров, кофе наливается в кружку над ее дизайном тоже трудились, равно как и над дизайном тюбика зубной пасты, кроссовок, вывески магазина. Дизайн делает обычные предметы более интересными и удобными в использовании, поэтому я выбрала такую профессию.</p>
        
                            <p class="designer__quote__two">Моя цель разработка уникальной авторской концепции, где каждая деталь отражает Вашу индивидуальность.</p>
                        </div>
        
                        <div class="buttoms  container--flex">
                            <button class="button  button--blue_bg  button--margin" data-free_consultation_btn>Бесплатная консультация</button>
                            <button class="button">Задать вопрос</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="indicator_line  our_team__indicator_line" data-teamTotalDots>
            <div class="indicator  our_team__indicator" data-teamCurrentDot></div>
        </div>
    </div>
</article>