<article class="page-header">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/main-page.html" class="breadcrumbs__item">
        <span class="breadcrumbs__item-text">главная</span>
      </a>
      <a class="breadcrumbs__item breadcrumbs__item_disable">
        <span class="breadcrumbs__item-text">каталог</span>
      </a>
      <a class="breadcrumbs__item breadcrumbs__item_disable">
        <span class="breadcrumbs__item-text">оборудование для шитья</span>
      </a>
    </div>
    <h1 class="title page-header__title">вышивальные машины</h1>
    <div class="page-header__goods">
      <div class="tags-list">
        <div class="tags-item"><span>для дома</span></div>
        <div class="tags-item"><span>С горизонтальным челноком</span></div>
        <div class="tags-item"><span>с оверлоком</span></div>
        <div class="tags-item"><span>Для начинающих</span></div>
        <a href="">Показать все</a>
      </div>
      <div class="goods-amount">
        товаров: <span data-goods-amount="">10</span>
      </div>
    </div>
  </div>
</article>
