<article class="page-header">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/main-page.html" class="breadcrumbs__item">
        <span class="breadcrumbs__item-text">главная</span>
      </a>
      <a class="breadcrumbs__item breadcrumbs__item_disable">
        <span class="breadcrumbs__item-text">каталог</span>
      </a>
      <a class="breadcrumbs__item breadcrumbs__item_disable">
        <span class="breadcrumbs__item-text">оборудование для шитья</span>
      </a>
    </div>
    <h1 class="title page-header__title">вышивальные машины</h1>
    <div class="page-header__info">
      <div class="page-header__filters">
        <div
          class="page-header__filter page-header__filter-trigger hidden__sm"
          data-filter-show="false"
        >
          <span>Показать подборки...</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>для дома</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>С горизонтальным челноком</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>с оверлоком</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>Для начинающих</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>с оверлоком</span>
        </div>
        <div class="page-header__filter page-header__filter-button visible__sm">
          <span>с оверлоком</span>
        </div>
        <div class="page-header__filter page-header__filter-show visible__sm">
          <span>Показать все</span>
        </div>
      </div>
      <div class="page-header__amount">
        товаров: <span data-goods-amount="">10</span>
      </div>
    </div>
  </div>
</article>
