<div class="modal-window  hide" data-thanks_modal>
    <div class="modal-background"></div>
        
        <div class="modal  modal__thanks">

            <button class="header__button-menu  modal_close thanks_modal__close" type="button" data-modalClose>
                <svg class="mobile_icon mobile_icon--close">
                    <use xlink:href="#mobileClose"></use>
                </svg>
            </button>

            <div class="text__container" data-modal_text>
                <p class="article_title">Запрос отправлен!</p>
                <p class="thanks_modal__text  article_title">Мы свяжемся c вами в ближайшее время</p>
            </div>

        </div>
</div>