<article class="topics">
  <div class="container instagram_container">
    <h2 class="title">Тематические подборки</h2>
  </div>
  <div class="container topics_container">
    <div class="topics-list">
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
    </div>
  </div>
</article>