<article class="topics">
  <div class="container instagram_container">
    <h2 class="title">Тематические подборки</h2>
  </div>
  <div class="container topics_container">
    <div class="topics-list">
      <div class="topics-item">
        <div class="label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source srcset="assets/img/topics/topic-1.jpg"
              type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1.webp"
              alt="first-screen" loading="lazy" width="100%" height="100%">
          </picture>
        </div>
      </div>
    </div>
  </div>
</article>