<article class="topics">
  <div class="container instagram_container">
    <h2 class="title">Тематические подборки</h2>
  </div>
  <div class="container topics_container">
    <div 
      class="topics-list"
      data-flickity='{ 
        "pageDots": false, 
        "freeScroll": true, 
        "watchCSS": true, 
        "arrowShape": "M0 50.3489C0 50.4822 0.0596932 50.5823 0.179077 50.6656L13.0924 61.5683C13.1919 61.6516 13.3113 61.7016 13.4705 61.7016C13.7888 61.7016 14.0077 61.5016 14.0077 61.2682C14.0077 61.1348 13.9679 61.0015 13.8684 60.9181L5.75033 54.1165L1.65147 50.7323L5.65084 50.7823H99.4827C99.7612 50.7823 100 50.5989 100 50.3489C100 50.0988 99.7612 49.8988 99.4827 49.8988H5.65084L1.65147 49.9488L5.75033 46.5813L13.8684 39.7629C13.9878 39.6796 14.0077 39.5629 14.0077 39.4295C14.0077 39.1961 13.7888 38.9961 13.4705 38.9961C13.3113 38.9961 13.1521 39.0294 12.8736 39.2795L0.179077 50.0154C0.0596932 50.1155 0 50.2155 0 50.3489Z",
        "cellAlign": "left"}'>
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
      <div class="topics-item">
        <div class="label topics_label">«лоскутное шитье»</div>
        <div class="pic topics-item_pic">
          <picture>
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="assets/img/topics/topic-1.jpg">
            <source srcset="assets/img/topics/topic-1-mobile.webp" type="image/webp">
            <img class="lazyload" src="assets/img/topics/topic-1-mobile.jpg" alt="topic" loading="lazy" width="100%"
              height="100%">
          </picture>
        </div>
      </div>
    </div>
  </div>
</article>