$bg_color: #fff;
$bg_alt_color: #f4f8fc;
$text_color: #333;
$accent_color: #00529c;
$card_hover_color: #fafbfc;
$menu_category_color: #4f4f4f;
$menu_subcategory_color: #313131;

$font_light: "rfdewi-light", sans-serif;
$font_regular: "rfdewi-regular", sans-serif;
$font_semibold: "rfdewi-semibold", sans-serif;
$font_bold: "rfdewi-bold", sans-serif;
$font_black: "rfdewi-black", sans-serif;

$tablet: "768px";
$desktop: "1280px";

$fw-Light: 300;
$fw-Regular: 400;
$fw-Semibold: 600;
$fw-Bold: 700;
$fw-Black: 900;

$fz-h1-mobile: 26px;
$fz-h1-desktop: 56px;

$fz-h2-mobile: 20px;
$fz-h2-tablet: 32px;

$fz-h3-mobile: 16px;
$fz-h3-desktop: 24px;
